<section class="view-default-style">

  <mv-card class="card1">
    <mv-card-title>
      Datos personales
    </mv-card-title>

    <mv-card-content>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="labelChip truncate">
            Documento de identidad
          </div>
          <div class="dataChip">
            02252552L
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Nombre
          </div>
          <div class="dataChip">
            Rubén
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Primer apellido
          </div>
          <div class="dataChip">
            López
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Segundo apellido
          </div>
          <div class="dataChip">
            Pérez
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Sexo
          </div>
          <div class="dataChip">
            Hombre
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Fecha de nacimiento
          </div>
          <div class="dataChip">
            27/01/1984
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Nacionalidad
          </div>
          <div class="dataChip">
            Española
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Provincia de nacimiento
          </div>
          <div class="dataChip">
            Madrid
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Municipio de nacimiento
          </div>
          <div class="dataChip">
            Madrid
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Título escolar
          </div>
          <div class="dataChip">
            Graduado E.S.O.
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="labelChip truncate">
            Domicilio
          </div>
          <div class="dataChip">
            Avenida de la Ilustración 24 1ºJ
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginTop">
          <mv-button
            adapt=true
            color="primary">
            <mv-icon>check</mv-icon>
            Enviar
          </mv-button>
        </div>
      </div>
    </mv-card-content>
  </mv-card>

  <mv-card class="card2">
    <mv-card-title>
      Datos del padrón
    </mv-card-title>

    <mv-card-content>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="labelChip truncate">
            Documento de identidad
          </div>
          <div class="dataChip">
            02252552L
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Nombre y apellidos
          </div>
          <div class="dataChip">
            Manuela Parra Martín
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Sexo
          </div>
          <div class="dataChip">
            Mujer
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Fecha de nacimiento
          </div>
          <div class="dataChip">
            27/05/1976
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Nacionalidad
          </div>
          <div class="dataChip">
            Española
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Provincia de nacimiento
          </div>
          <div class="dataChip">
            Madrid
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            País de residencia
          </div>
          <div class="dataChip">
            Española
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="labelChip truncate">
            Municipio de residencia
          </div>
          <div class="dataChip">
            Madrid
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginTop">
          <mv-button
            color="secondary-001">
            Solicitar
          </mv-button>
        </div>
      </div>
    </mv-card-content>
  </mv-card>

  <mv-card class="card3">
    <h1 class="mv-h1">Impuesto sobre Vehículos de Tracción Mecánica</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="labelChip truncate">
          Identificador
        </div>
        <div class="dataChip">
          0123456789abc
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="labelChip truncate">
          Matrícula IVTM
        </div>
        <div class="dataChip">
          2673 HLX
        </div>
      </div>
    </div>

    <h1 class="mv-h1">Impuesto sobre Bienes Inmuebles</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="labelChip truncate">
          Ref. catastral
        </div>
        <div class="dataChip">
          ABC0123456789C0987654321
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="labelChip truncate">
          Dirección
        </div>
        <div class="dataChip">
          Calle Divino Valles 24 1º J
        </div>
      </div>
    </div>

    <h1 class="mv-h1">Tasa por Prestación del Servicio de Gestión de Residuos Urbanos</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="labelChip truncate">
          Ref. catastral
        </div>
        <div class="dataChip">
          ABC0123456789C0987654321
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="labelChip truncate">
          Dirección
        </div>
        <div class="dataChip">
          Calle Divino Valles 24 1º J
        </div>
      </div>
    </div>

    <h1 class="mv-h1">Impuesto sobre Actividades Económicas</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="labelChip truncate">
          Identificador
        </div>
        <div class="dataChip">
          000000123456
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="labelChip truncate">
          Dirección
        </div>
        <div class="dataChip">
          Ninguna
        </div>
      </div>
    </div>

    <div class="row text-center marginTop">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <mv-button
          adapt=true
          color="primary">
          Aceptar
        </mv-button>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <mv-button
          adapt=true
          color="secondary-001">
          Limpiar
        </mv-button>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <mv-button
          adapt=true
          color="warn">
          Cancelar
        </mv-button>
      </div>
    </div>

  </mv-card>

</section>
