<section class="view-default-style">

  <mv-card>
    <mv-card-title>
      Invertir en la Comunidad de Madrid
    </mv-card-title>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            ¿Por qué elegir la Comunidad de Madrid para invertir?
          </mv-card-title>
          <mv-card-subtitle>
            Muffin pudding cake sugar plum biscuit caramels.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            Inicia tu proyecto empresarial
          </mv-card-title>
          <mv-card-subtitle>
            Croissant pie cupcake candy canes soufflé pie sesame snaps powder.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            Haz crecer tu empresa
          </mv-card-title>
          <mv-card-subtitle>
            Chocolate cake icing tart caramels fruitcake cupcake dessert.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            Sectores destacados
          </mv-card-title>
          <mv-card-subtitle>
            Bonbon candy canes candy carrot cake.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            Agenda empresarial
          </mv-card-title>
          <mv-card-subtitle>
            Cheesecake bonbon macaroon tart tart cake.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <mv-card
          class="card-type-1">
          <mv-card-title>
            Ver temas para inversores
          </mv-card-title>
          <mv-card-subtitle>
            Topping chupa chups toffee jujubes sugar plum.
          </mv-card-subtitle>
        </mv-card>
      </div>

    </div>
  </mv-card>

  <mv-card>
    <mv-card-title>
      Principales indicadores económicos
    </mv-card-title>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-2 color1">
          <mv-card-title>
            Productor interior bruto
          </mv-card-title>
          <mv-card-subtitle>
            Sweet lollipop biscuit donut dessert. Caramels chocolate pie pastry sweet roll dragée.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-2 color2">
          <mv-card-title>
            Tasa de desempleo
          </mv-card-title>
          <mv-card-subtitle>
            Gummi bears lemon drops wafer biscuit donut croissant fruitcake brownie. Jelly beans chupa chups gummies muffin bonbon.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-2 color3">
          <mv-card-title>
            Inflación
          </mv-card-title>
          <mv-card-subtitle>
            Croissant jujubes sesame snaps donut lemon drops. Jelly ice cream marzipan jelly-o chupa chups powder carrot cake pie fruitcake.
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-2 color4">
          <mv-card-title>
            Indice de confianza del consumidor
          </mv-card-title>
          <mv-card-subtitle>
            Tootsie roll donut liquorice apple pie danish.
          </mv-card-subtitle>
        </mv-card>
      </div>

    </div>
  </mv-card>

</section>
