<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación mv-notification-config</strong></mv-card-title>

    <!-- Índice de la documentación -->
    <div>
      <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Información
      </a>
    </div>
    <div>
      <a class="nostyle" (click)='sound.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Sonido
      </a>
    </div>
    <div>
      <a class="nostyle" (click)='topics.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Topics
      </a>
    </div>
  </mv-card>

  <!-- Información -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #info><strong>Información</strong></mv-card-title>
      <mv-card-subtitle>Información de mv-notification-config.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>El componente mv-notification-config permite acceder a algunos aspectos de configuración de las notificaciones: el sonido
        y la suscripción a los topics. Es configurable y solo se mostrará en dispositivos móviles.</p>

      <p>Se puede ver un ejemplo de uso de este componente en <strong><a target="_blank" href="#/notification-config-view">notification-config-view</a></strong></p>

    </mv-card-content>
  </mv-card>

  <!-- sound -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #sound><strong>Sonido</strong></mv-card-title>
      <mv-card-subtitle>Sonido de las notificaciones.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Se puede configurar el componente para que muestre la sección de configuración del sonido de las notificaciones push, de manera que el usuario podrá
        elegir si quiere recibir notificaciones con o sin sonido.</p>
      <p>En dispositivos iOS no se puede cambiar desde la app el sonido de las notificaciones, de manera que la sección mostrará las instrucciones que debe seguir
        el usuario para poder cambiarlo.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeNotificationConfigSoundExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeNotificationConfigSoundExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

    </mv-card-content>
  </mv-card>

  <!-- topics -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #topics><strong>Topics</strong></mv-card-title>
      <mv-card-subtitle>configuración de topics.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Se puede configurar el componente para que muestre los topics a los que está suscrito el usuario, pudiendo también suscribirse si no lo está.</p>
      <p>Se debe definir un array de objetos. Cada uno deberá tener una propiedad topic obligatoria que debe coincidir con el nombre del topic en cuestión y
        otra propiedad name opcional que sirve para mostrar un nombre para personalizado para el topic.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeNotificationTopicExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeNotificationTopicExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
