<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación mv-values-list</strong></mv-card-title>

    <!-- Índice de la documentación -->
    <div>
      <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Información
      </a>
    </div>
    <div>
      <a class="nostyle" (click)='useExample.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Ejemplo de uso
      </a>
    </div>
    <p>Propiedades:</p>
    <ol class="ol-code">
      <li><a class="nostyle" (click)='adapt.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> adapt
      </a></li>
      <li><a class="nostyle" (click)='columnCode.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> columnCode
      </a></li>
      <li><a class="nostyle" (click)='columnText.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> columnText
      </a></li>
      <li><a class="nostyle" (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> data
      </a></li>
      <li><a class="nostyle" (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> dataSourceLoader
      </a></li>
      <li><a class="nostyle" (click)='defaultSortColumn.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> defaultSortColumn
      </a></li>
      <li><a class="nostyle" (click)='defaultSortDirection.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> defaultSortDirection
      </a></li>
      <li><a class="nostyle" (click)='delay.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> delay
      </a></li>
      <li><a class="nostyle" (click)='dialogSubtitle.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> dialogSubtitle
      </a></li>
      <li><a class="nostyle" (click)='dialogTitle.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> dialogTitle
      </a></li>
      <li><a class="nostyle" (click)='filter.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> filter
      </a></li>
      <li><a class="nostyle" (click)='filterTitle.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> filterTitle
      </a></li>
      <li><a class="nostyle" (click)='filterPlaceholder.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> filterPlaceholder
      </a></li>
      <li><a class="nostyle" (click)='hideRowTitles.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> hideRowTitles
      </a></li>
      <li><a class="nostyle" (click)='hint.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> hint
      </a></li>
      <li><a class="nostyle" (click)='labelCode.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> labelCode
      </a></li>
      <li><a class="nostyle" (click)='labelText.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> labelText
      </a></li>
      <li><a class="nostyle" (click)='loadingDelay.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> loadingDelay
      </a></li>
      <li><a class="nostyle" (click)='icon.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Icon
      </a></li>
      <li><a class="nostyle" (click)='iconFontSet.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> iconFontSet
      </a></li>
      <li><a class="nostyle" (click)='pageSize.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> pageSize
      </a></li>
      <li><a class="nostyle" (click)='placeholderCode.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> placeholderCode
      </a></li>
      <li><a class="nostyle" (click)='placeholderText.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> placeholderText
      </a></li>
      <li><a class="nostyle" (click)='required.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> required
      </a></li>
      <li><a class="nostyle" (click)='tableColumns.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> tableColumns
      </a></li>
      <li><a class="nostyle" (click)='validateFirst.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> validateFirst
      </a></li>
      <li><a class="nostyle" (click)='validateOnType.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> validateOnType
      </a></li>
      <li><a class="nostyle" (click)='hide.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Hide
      </a></li>
    </ol>

    <p>Eventos:</p>
    <ol class="ol-code">
      <li><a class="nostyle" (click)='changeEvent.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> changeEvent
      </a></li>
      <li><a class="nostyle" (click)='getSelected.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> getSelected
      </a></li>
    </ol>

  </mv-card>

  <!-- Información -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #info><strong>Información</strong></mv-card-title>
      <mv-card-subtitle>Información del componente <strong>mv-values-list</strong>.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Este componente sirve para mostrar u obtener una gran cantidad de información de la manera más sencilla posible. Se pueden cargar datos del servidor o locales.
      Al abrir el diálogo podremos filtrar entre todos los elementos, paginar, ordenar... </p>

    </mv-card-content>
  </mv-card>

  <!-- Ejemplo de uso -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #useExample><strong>Ejemplo de uso</strong></mv-card-title>
      <mv-card-subtitle>Uso básico del componente <strong>mv-values-list</strong>.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>A continuación se muestra un ejemplo básico de uso del componente con origen de datos en servidor y en local.</p>
      <p>La carga de los datos se hace mediante el uso del componente <strong><a href="#/doc-table-responsive">mv-table-responsive</a>
        </strong>. Consulta la documentación para más información.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeUseExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="ColumnsTS">
          <pre><code [highlight]="codeUseExampleColumns"></code></pre>
        </mv-tab>
        <mv-tab label="DataTS">
          <pre><code [highlight]="codeUseExampleData"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeUseExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>
      <mv-values-list
        #mvValuesListEjemploUso

        [(ngModel)]="valuesList001Model"
        [dataSourceLoader]="loadDataSource"
        [tableColumns]="tableColumnsEjemploUso"

        dialogTitle="Ejemplo de uso con dataSourceLoader"
        dialogSubtitle="Ejemplo con datos cargados"
        filterTitle="Buscar..."
        placeholderCode="Cód."
        hint="Seleccionado"
        labelCode="UUID"

        required="true"
        validateFirst="true"
        validateOnType="false"
        iconFontSet="fa"
        icon="fa-address-book"
        pageSize="8"
        adapt="true"
        filter="true"
        hideRowTitles="true"
        delay="1500"
        loadingDelay="3000"

        columnCode="uuid"
        columnText="nombre_alumno"

        defaultSortColumn="uuid"
        defaultSortDirection="asc"
      >
      </mv-values-list>

      <p><strong>Valor de la variable 'valuesList001Model': {{valuesList001Model}}</strong></p>

      <p><strong>getSelected: {{datosEjemploUso1 | json}}</strong></p>


      <mv-button
        (clickEvent)="getDatosEjemploUso1()"
        appearance="raised"
        class="configButton"
        color="primary">
        Llamar a getSelected()
      </mv-button>
      <hr />

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        #mvValuesListEjemploUso2

        [(ngModel)]="valuesList002Model"
        [data]="dataArrayEjemploUso"
        [tableColumns]="tableColumnsEjemploUso"
        (changeEvent)="changeEjemploUso($event)"


        dialogTitle="Ejemplo de uso con array"
        dialogSubtitle="Ejemplo con datos cargados"
        filterPlaceholder="Buscar..."
        placeholderCode="Código"
        placeholderText="Descripción"
        hint="Seleccionado"
        labelCode="Identificador"
        labelText="Descripción"

        required="false"
        validateFirst="false"
        validateOnType="true"

        icon="menu_open"
        pageSize="10"
        adapt="false"
        filter="true"
        hideRowTitles="false"
        delay="500"
        loadingDelay="1000"

        columnCode="uuid"
        columnText="nombre_alumno"

        defaultSortColumn="uuid"
        defaultSortDirection="desc"
      >
      </mv-values-list>

      <p><strong>Valor de la variable 'valuesList002Model': {{valuesList002Model}}</strong></p>

      <p><strong>getSelected: {{datosEjemploUso2 | json}}</strong></p>

      <mv-button
        (clickEvent)="getDatosEjemploUso2()"
        appearance="raised"
        class="configButton"
        color="primary">
        Llamar a getSelected()
      </mv-button>
    </mv-card-content>
  </mv-card>

  <!-- adapt -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #adapt><strong>adapt</strong></mv-card-title>
      <mv-card-subtitle>Ancho del 100%.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad adapt permite definir el ancho del componente al 100% del contenedor.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeAdaptExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p><strong>Con adapt a true:</strong></p>

      <mv-values-list
        adapt="true"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p><strong>Con adapt a false:</strong></p>

      <mv-values-list
        adapt="false"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p><strong>Sin adapt (comportamiento por defecto):</strong></p>

      <mv-values-list
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- columnCode -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #columnCode><strong>columnCode</strong></mv-card-title>
      <mv-card-subtitle>Atributo del código.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad columnCode es obligatoria. Permite definir el atributo del JSON que será usado como código.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="columnCodeExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Con columnCode='nombre_alumno'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        [dataSourceLoader]="loadDataSource"
        columnCode="nombre_alumno"
        columnText="apellido_1">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        [data]="dataArray"
        columnCode="nombre_alumno"
        columnText="apellido_1">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- columnText -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #columnText><strong>columnText</strong></mv-card-title>
      <mv-card-subtitle>Atributo de la descripción.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad columnText es obligatoria. Permite definir el atributo del JSON que será usado como descripción.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="columnTextExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Con columnText='apellido_1'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        [dataSourceLoader]="loadDataSource"
        columnCode="nombre_alumno"
        columnText="apellido_1">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        [data]="dataArray"
        columnCode="nombre_alumno"
        columnText="apellido_1">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- data -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #data><strong>data</strong></mv-card-title>
      <mv-card-subtitle>Datos cargados desde cliente.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad data permite definir los datos del componente a partir de un array en el cliente.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDataExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeDataExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <mv-values-list
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- dataSourceLoader -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #dataSourceLoader><strong>dataSourceLoader</strong></mv-card-title>
      <mv-card-subtitle>Datos cargados desde servidor.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad dataSourceLoader permite cargar los datos desde el servidor. Además de la propiedad,
        hay que definir lo siguiente:</p>

      <ul>
        <li><p>Un servicio rest que obtenga los datos deseados</p></li>
        <li><p>Una clase que implemente mvLoadData, que servirá de interfaz entre el servicio y el values-list</p></li>
        <li><p>En el código asociado al values-list, se debe crear un objeto de la clase LoadData,
          al que se le debe pasar el servicio que obtiene los datos</p></li>
        <li><p>Si se quiere definir un paginador no se hará con la propiedad pageSize, sino pasando el parámetro al servicio
          que obtiene los datos</p></li>
      </ul>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDataSourceLoaderExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeDataSourceLoaderExampleTS"></code></pre>
        </mv-tab>
        <mv-tab label="LOAD DATA">
          <pre><code [highlight]="codeDataSourceLoaderExampleLoadData"></code></pre>
        </mv-tab>
        <mv-tab label="SERVICE">
          <pre><code [highlight]="codeDataSourceLoaderExampleService"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <mv-values-list
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- defaultSortColumn -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #defaultSortColumn><strong>defaultSortColumn</strong></mv-card-title>
      <mv-card-subtitle>Columna de ordenación por defecto.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad defaultSortColumn permite definir la columna de ordenación por defecto de la tabla de resultados mostrada en la ventana de diálogo.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDefaultSortColumnExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>defaultSortColumn='apellido_1'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        defaultSortColumn="apellido_1"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        defaultSortColumn="apellido_1"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- defaultSortDirection -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #defaultSortDirection><strong>defaultSortDirection</strong></mv-card-title>
      <mv-card-subtitle>Dirección de ordenación por defecto.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad defaultSortDirection permite definir la dirección ordenación de la tabla de resultados mostrada en la ventana de diálogo.</p>
      <p>Si se establece la propiedad defaultSortDirection, obligatoriamente debe estar definida también la propiedad defaultSortColumn</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDefaultSortDirectionExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>defaultSortDirection='desc'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        defaultSortColumn="apellido_1"
        defaultSortDirection="desc"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        defaultSortColumn="apellido_1"
        defaultSortDirection="desc"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- delay -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #delay><strong>delay</strong></mv-card-title>
      <mv-card-subtitle>Retardo antes de realizar la búsqueda.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad delay crea un retardo de los milisegundos especificados, antes de realizar la búsqueda.</p>
      <p>Este retardo permite al usuario escribir el código evitando realizar con cada pulsación una consulta.</p>
      <p>El valor por defecto es <strong>600</strong> milisegundos.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDelayExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <div><strong>Datos de servidor</strong></div>

      <p>Retardo de 3000 milisegundos.</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        delay="3000"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        delay="3000"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- dialogSubtitle -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #dialogSubtitle><strong>dialogSubtitle</strong></mv-card-title>
      <mv-card-subtitle>Subtítulo del diálogo.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad dialogSubtitle permite especificar un subtítulo para el diálogo.</p>
      <p>El valor por defecto es <strong>Seleccione un elemento de la lista</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDialogSubtitleExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>dialogSubtitle='Subtítulo de ejemplo'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        dialogSubtitle="Subtítulo de ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        dialogSubtitle="Subtítulo de ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- dialogTitle -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #dialogTitle><strong>dialogTitle</strong></mv-card-title>
      <mv-card-subtitle>Título del diálogo.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad dialogTitle permite especificar un título para el diálogo.</p>
      <p>El valor por defecto es <strong>Lista de resultados</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeDialogTitleExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>dialogTitle='Titulo de ejemplo'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        dialogTitle="Titulo de ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        dialogTitle="Titulo de ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- filter -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #filter><strong>filter</strong></mv-card-title>
      <mv-card-subtitle>Input para filtrar los resultados del diálogo.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad filter permite mostrar un input para filtrar los resultados del diálogo.</p>
      <p>El valor por defecto es <strong>false</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeFilterExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y filter=true:</p>

      <mv-values-list
        filter=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y filter=true:</p>

      <mv-values-list
        filter=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y filter=false:</p>

      <mv-values-list
        filter=false
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y filter=false:</p>

      <mv-values-list
        filter=false
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- filterTitle -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #filterTitle><strong>filterTitle</strong></mv-card-title>
      <mv-card-subtitle>Título del input del filtro.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad filterTitle permite especificar un título para el filtro del diálogo.</p>
      <p>El valor por defecto es <strong>Buscador</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeFilterTitleExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>filterTitle='Título de ejemplo'</p>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        filter=true
        filterTitle="Título de ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        filter=true
        filterTitle="Título de ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- filterPlaceholder -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #filterPlaceholder><strong>filterPlaceholder</strong></mv-card-title>
      <mv-card-subtitle>Placeholder del input del filtro.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad filterPlaceholder permite especificar un placeholder para el input del filtro del diálogo.</p>
      <p>El valor por defecto es <strong>Escriba para buscar...</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeFilterPlaceholderExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        filter=true
        filterPlaceholder="Placeholder de ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        filter=true
        filterPlaceholder="Placeholder de ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- hideRowTitles -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #hideRowTitles><strong>hideRowTitles</strong></mv-card-title>
      <mv-card-subtitle>Ocultar los títulos de las columnas.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad hideRowTitles permite ocultar la fila que contiene los títulos de cada columna.</p>
      <p>El valor por defecto es <strong>false</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeHideRowTitlesExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        hideRowTitles=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        hideRowTitles=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- hint -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #hint><strong>hint</strong></mv-card-title>
      <mv-card-subtitle>Mostrar un texto de ayuda</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad hint permite mostrar un texto a modo de ayuda o explicación debajo del componente.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeHintExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        hint="Hint de ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        hint="Hint de ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- labelCode -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #labelCode><strong>labelCode</strong></mv-card-title>
      <mv-card-subtitle>Label del código del values-list.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad labelCode permite especificar una label del input del código del values-list.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeLabelCodeExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        labelCode="Label ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        labelCode="Label ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- labelText -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #labelText><strong>labelText</strong></mv-card-title>
      <mv-card-subtitle>Retardo después de la carga de datos del servidor.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad labelText permite especificar una label del input del código del values-list.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeLabelTextExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        labelText="Label ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        labelText="Label ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- loadingDelay -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #loadingDelay><strong>loadingDelay</strong></mv-card-title>
      <mv-card-subtitle>Retardo después de la carga de datos del servidor.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad loadingDelay crea un retardo de los milisegundos especificados, después de la carga
        de datos del servidor.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeLoadingDelayExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Retardo de 3000 milisegundos</p>
      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        loadingDelay=3000
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        loadingDelay=3000
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- icon -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #icon><strong>icon</strong></mv-card-title>
      <mv-card-subtitle>Icono a mostrar.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad icon permite mostrar un icono en el botón que abre el diálogo.</p>
      <p>Los iconos disponibles son los que proporciona <a rel="noopener noreferrer" target="_blank" href="https://material.io/resources/icons/"><strong>Material</strong></a>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeIconExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        icon="view_list"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        icon="view_list"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- iconFontSet -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #iconFontSet><strong>iconFontSet</strong></mv-card-title>
      <mv-card-subtitle>Fuente del icono</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>


      <p>La propiedad iconFontSet permite definir la familia de iconos que queremos usar
        en el icono del botón, tan solo en caso de querer usar Font Awesome.
        Si queremos usar los iconos de Material no hay que usar esta propiedad.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeIconFontSetExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con icono de font awesome</p>

      <mv-values-list
        [dataSourceLoader]="loadDataSource"

        iconFontSet="fa"
        icon="fa-address-book"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con icono de material</p>

      <mv-values-list
        [data]="dataArray"
        icon="menu_open"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- pageSize -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #pageSize><strong>pageSize</strong></mv-card-title>
      <mv-card-subtitle>Número de items por página.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad pageSize permite definir el número de items por cada página.</p>
      <p>Si no se inicializa no hay paginador.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codePageSizeExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        pageSize=5
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        pageSize=5
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- placeholderCode -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #placeholderCode><strong>placeholderCode</strong></mv-card-title>
      <mv-card-subtitle>Placeholder del input del código</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad placeholderCode permite especificar el placeholder del input del código del values-list.</p>
      <p>Si no se especifica ningún valor no muestra placeholder</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codePlaceholderCodeExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        placeholderCode="Ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        placeholderCode="Ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- placeholderText -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #placeholderText><strong>placeholderText</strong></mv-card-title>
      <mv-card-subtitle>Placeholder del input de la descripción</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad placeholderText permite especificar el placeholder del input de la descripción del values-list.</p>
      <p>Si no se especifica ningún valor no muestra placeholder</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codePlaceholderTextExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        placeholderText="Ejemplo"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        placeholderText="Ejemplo"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- required -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #required><strong>required</strong></mv-card-title>
      <mv-card-subtitle>El componente ha de tener un valor obligatoriamente.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad required hace el componente obligatorio, es decir, tiene que tener un valor asignado</p>
      <p>El valor por defecto es <strong>false</strong>.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeRequiredExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        required=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        required=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- tableColumns -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #tableColumns><strong>tableColumns</strong></mv-card-title>
      <mv-card-subtitle>Títulos de las columnas del diálogo</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad tableColumns permite especificar los títulos de las columnas de los datos que se muestran en el diálogo.</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeTableColumnsExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeTableColumnsExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        [tableColumns]="tableColumnsExample"
        [dataSourceLoader]="loadDataSource"
        defaultSortColumn="uuid"
        defaultSortDirection="asc"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        [tableColumns]="tableColumnsExample"
        [data]="dataArray"
        defaultSortColumn="uuid"
        defaultSortDirection="asc"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- validateFirst -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #validateFirst><strong>validateFirst</strong></mv-card-title>
      <mv-card-subtitle>Validación inicial del componente.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad validateFirst permite validar o no el componente al ser cargado, ya que a lo mejor no queremos
        que de primeras se marquen como erróneos determinados input o al revés, queremos que nada más cargar la vista
        se haga la validación</p>
      <p>En caso de usar esta propiedad también tendrá que estar definida alguna propiedad que se pueda validar, como
         por ejemplo <strong>required=true</strong></p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeValidateFirstExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y validateFirst=true:</p>

      <mv-values-list
        required=true
        validateFirst=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y validateFirst=true:</p>

      <mv-values-list
        required=true
        validateFirst=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y validateFirst=false:</p>

      <mv-values-list
        required=true
        validateFirst=false
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y validateFirst=false:</p>

      <mv-values-list
        required=true
        validateFirst=false
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- validateOnType -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #validateOnType><strong>validateOnType</strong></mv-card-title>
      <mv-card-subtitle>Validación en tiempo real.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>La propiedad validateOnType permite activar la validación del componente en tiempo real, esto es según se
        va escribiendo.</p>
      <p>En caso de usar esta propiedad también tendrá que estar definida alguna propiedad que se pueda validar, como
         por ejemplo <strong>required=true</strong></p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeValidateOnTypeExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y validateOnType = true:</p>

      <mv-values-list
        required=true
        validateOnType=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y validateOnType = true:</p>

      <mv-values-list
        required=true
        validateOnType=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y validateOnType = false:</p>

      <mv-values-list
        required=true
        validateOnType=false
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y validateOnType = false:</p>

      <mv-values-list
        required=true
        validateOnType=false
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- validateOnType -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #hide><strong>Hide</strong></mv-card-title>
      <mv-card-subtitle>Ocultar campos.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Las propiedades <strong>hidecode</strong> y <strong>hideText</strong> sirven para ocultar los componentes de código y de texto </p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeHideExampleHTML"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>)
        y hideCode = true:</p>

      <mv-values-list
        required=true
        validateOnType=true
        hideCode=true
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>)
        y hideText = true:</p>

      <mv-values-list
        required=true
        hideText=true
        validateOnType=true
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>


  <!-- changeEvent -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #changeEvent><strong>changeEvent</strong></mv-card-title>
      <mv-card-subtitle>Evento change.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>El evento changeEvent permite definir una función que se ejecutará cuando cambie el valor del input</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeChangeEventExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeChangeEventExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>Ejemplo con datos obtenidos del servidor (<a (click)='dataSourceLoader.scrollIntoView({behavior: "smooth",block: "start"})'>dataSourceLoader</a>):</p>

      <mv-values-list
        (changeEvent)="changeEventFunction($event)"
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        (changeEvent)="changeEventFunction($event)"
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

    </mv-card-content>
  </mv-card>

  <!-- getSelected -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #getSelected><strong>getSelected</strong></mv-card-title>
      <mv-card-subtitle>Objeto seleccionado.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>El evento getSelected permite obtener el objeto seleccionado en la lista del componente</p>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeGetSelectedExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeGetSelectedExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <mv-values-list
        #mvValuesListGetSelectedExample
        [dataSourceLoader]="loadDataSource"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <br>

      <mv-button
        (clickEvent)="getSelectedEvent()"
        appearance="raised"
        class="configButton"
        color="primary">
        Llamar a getSelected()
      </mv-button>

      <p><strong>getSelected: {{getSelectedObj1 | json}}</strong></p>

      <p>Ejemplo con datos obtenidos del cliente (<a (click)='data.scrollIntoView({behavior: "smooth",block: "start"})'>data</a>):</p>

      <mv-values-list
        #mvValuesListGetSelectedExample2
        [data]="dataArray"
        columnCode="uuid"
        columnText="nombre_alumno">
      </mv-values-list>

      <br>

      <mv-button
        (clickEvent)="getSelectedEvent()"
        appearance="raised"
        class="configButton"
        color="primary">
        Llamar a getSelected()
      </mv-button>

      <p><strong>getSelected: {{getSelectedObj2 | json}}</strong></p>

    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
