<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Imágenes</strong></mv-card-title>

    <p>Para el diseño y maquetación de aplicaciones MOVA se pueden usar imágenes. </p>
    <p>Se pueden usar sin ninguna restricción de uso y modificación las imágenes de la web
      <a href="https://pixabay.com" rel="noopener noreferrer" target="_blank"><strong>https://pixabay.com</strong></a>
      dentro de las aplicaciones MOVA ya que están aprobadas para su uso por la Comisión de Madrid.org</p>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img
          src="assets/examples/ejemplo_imagen1.jpg"
          (click)="linkImage(1)"
          alt="Ejemplo imagen 1">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img
          src="assets/examples/ejemplo_imagen2.jpg"
          (click)="linkImage(2)"
          alt="Ejemplo imagen 2">
      </div>
    </div>

  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
