<section class="view-default-style">

    <!-- Componente -->
    <mv-card class="card-code">
        <mv-card-title><strong>Documentación mv-radio</strong></mv-card-title>

        <!-- Índice de la documentación -->
        <div>
            <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Información
            </a>
        </div>
        <div>
            <a class="nostyle" (click)='useExample.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Ejemplo de uso
            </a>
        </div>
        <p>Propiedades:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='alignHorizontal.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> alignHorizontal
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='color.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> color
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='delay.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> delay
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='disabled.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> disabled
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='formControlName.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> formControlName
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hint.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hint
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintAlign.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintAlign
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintType.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintType
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='labelPosition.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> labelPosition
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='name.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> name
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='options.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> options
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='required.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> required
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='requiredHint.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> requiredHint
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='size.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> size
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateFirst.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateFirst
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateOnType.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateOnType
                </a>
            </li>
        </ol>

        <p>Eventos:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='changeEvent.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> changeEvent
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='doValidate.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> doValidate
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintToggle.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintToggle
                </a>
            </li>
        </ol>


        <p>Accesibilidad:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='ariaLabel.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> ariaLabel
                </a>
            </li>
        </ol>

    </mv-card>

    <!-- Información -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #info><strong>Información</strong></mv-card-title>
            <mv-card-subtitle>Información del componente <strong>mv-radio</strong>.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>El componente mv-radio se basa en el componente mat-radio de Angular Material, al que se le añade funcionalidad y estilos adicionales.</p>

        </mv-card-content>
    </mv-card>

    <!-- Ejemplo de uso -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #useExample><strong>Ejemplo de uso</strong></mv-card-title>
            <mv-card-subtitle>Uso básico del componente <strong>mv-radio</strong>.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>A continuación se muestra un ejemplo básico de uso del componente.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeUseExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeUseExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-radio [(ngModel)]="radio001Model" [options]=radioOptionsEstaciones>
            </mv-radio>

            <p><strong>Valor variable 'radio001Model'</strong>: {{radio001Model | json}}</p>

        </mv-card-content>
    </mv-card>

    <!-- alignHorizontal -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #alignHorizontal><strong>alignHorizontal</strong></mv-card-title>
            <mv-card-subtitle>Alineación del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad alignHorizontal permite alienar el componente en forma vertical u horizontal.</p>
            <p>El valor por defecto es <strong>outline</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeAlignHorizontalHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeAlignHorizontalTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>AlignHorizontal = 'true':</strong></p>

            <mv-radio [options]=radioOptions alignHorizontal=true>
            </mv-radio>

            <p><strong>AlignHorizontal = 'false':</strong></p>

            <mv-radio [options]=radioOptions alignHorizontal=false>
            </mv-radio>

            <p><strong>Sin AlignHorizontal, valor por defecto ('false'):</strong></p>

            <mv-radio [options]=radioOptions>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- color -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #color><strong>color</strong></mv-card-title>
            <mv-card-subtitle>Color del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad color permite definir un color para las opciones marcadas.</p>
            <p>El valor por defecto es <strong>accent</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeColorHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeColorTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Color = 'primary':</strong></p>

            <mv-radio [options]=radioOptions color="primary">
            </mv-radio>

            <p><strong>Color = 'accent':</strong></p>

            <mv-radio [options]=radioOptions color="accent">
            </mv-radio>

            <p><strong>Color = 'warn':</strong></p>

            <mv-radio [options]=radioOptions color="warn">
            </mv-radio>

            <p><strong>Color = 'corporative':</strong></p>

            <mv-radio [options]=radioOptions color="corporative">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- delay -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #delay><strong>delay</strong></mv-card-title>
            <mv-card-subtitle>Retardo tras pulsación.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad delay permite definir un retardo de los eventos tras una pulsación en el componente</p>
            <p>El valor por defecto es <strong>0</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeDelayHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeDelayTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Delay = 3000:</strong></p>

            <mv-radio [options]=radioOptions delay="3000" (changeEvent)=changeFunctionDelay()>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- disabled -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #disabled><strong>disabled</strong></mv-card-title>
            <mv-card-subtitle>Deshabilitar el radio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad disabled permite deshabilitar el componente</p>
            <p>El valor por defecto es <strong>false</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeDisabledHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeDisabledTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Disabled = true:</strong></p>

            <mv-radio [options]=radioOptions disabled=true>
            </mv-radio>

            <p><strong>Disabled = false:</strong></p>

            <mv-radio [options]=radioOptions disabled=false>
            </mv-radio>

            <p><strong>Sin disabled, valor por defecto (false):</strong></p>

            <mv-radio [options]=radioOptions>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- formControlName -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #formControlName><strong>formControlName</strong></mv-card-title>
            <mv-card-subtitle>Propiedad formControlName para formularios.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad formControlName permite identificar al componente en un formulario reactivo, por tanto esta propiedad solo tiene sentido si se va a usar dentro de un &lt;form></p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeFormControlNameHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeFormControlNameTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>formControlName = 'myRadioName':</strong></p>

            <form [formGroup]="formReactive" (ngSubmit)="onSubmitReactive(formReactive)">
                <mv-radio formControlName="myRadioName" [options]=radioOptions>
                </mv-radio>
                <div>
                    <mv-button appearance="raised" type="submit" color="primary">
                        Submit
                    </mv-button>
                </div>
            </form>

            <p><strong>Valor recogido del form: {{formReactiveValue | json}}</strong></p>

        </mv-card-content>
    </mv-card>

    <!-- hint -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hint><strong>hint</strong></mv-card-title>
            <mv-card-subtitle>Hint del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad hint permite definir un mensaje debajo del componente</p>
            <p>El valor por defecto es <strong>''</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Hint = 'Hint de prueba':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- hintAlign -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintAlign><strong>hintAlign</strong></mv-card-title>
            <mv-card-subtitle>Hint del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad hintAlign permite alinear el hint al principio o al final del componente</p>
            <p>El valor por defecto es <strong>'start'</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintAlignHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintAlignTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>HintAlign = 'start':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintAlign="start">
            </mv-radio>

            <p><strong>HintAlign = 'end':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintAlign="end">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- hintType -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintType><strong>hintType</strong></mv-card-title>
            <mv-card-subtitle>Estilo del hint.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad hintType permite definir el color del hint</p>
            <p>El valor por defecto es <strong>'warn'</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintTypeHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintTypeTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>HintType = 'danger':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintType="danger">
            </mv-radio>

            <p><strong>HintType = 'success':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintType="success">
            </mv-radio>

            <p><strong>HintType = 'warn':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintType="warn">
            </mv-radio>

            <p><strong>HintType = 'info':</strong></p>

            <mv-radio [options]=radioOptions hint="Hint de prueba" hintType="info">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- labelPosition -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #labelPosition><strong>labelPosition</strong></mv-card-title>
            <mv-card-subtitle>Posición de la label.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad labelPosition permite situar la label a la derecha o a la izquierda del componente</p>
            <p>El valor por defecto es <strong>'after'</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeLabelPositionHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeLabelPositionTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>LabelPosition = 'after':</strong></p>

            <mv-radio [options]=radioOptions labelPosition="after">
            </mv-radio>

            <p><strong>LabelPosition = 'before':</strong></p>

            <mv-radio [options]=radioOptions labelPosition="before">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- name -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #name><strong>name</strong></mv-card-title>
            <mv-card-subtitle>Propiedad name para formularios.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad name permite identificar al componente en un formulario de tipo template, por tanto esta propiedad solo tiene sentido si se va a usar dentro de un &lt;form></p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeNameHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeNameTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>name = 'myRadioName':</strong></p>

            <form #formTemplate="ngForm" (ngSubmit)="onSubmitTemplate(formTemplate)">
                <mv-radio ngModel name="myRadioName" [options]=radioOptions>
                </mv-radio>
                <div>
                    <mv-button appearance="raised" type="submit" color="primary">
                        Submit
                    </mv-button>
                </div>
            </form>

            <p><strong>Valor recogido del form: {{formTemplateValue | json}}</strong></p>

        </mv-card-content>
    </mv-card>

    <!-- options -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #options><strong>options</strong></mv-card-title>
            <mv-card-subtitle>Valores del radio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad options permite definir los radios del componente</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeOptionsHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeOptionsTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>radioOptions = ['Opción 1', 'Opción 2']:</strong></p>

            <mv-radio [options]=radioOptions>
            </mv-radio>

            <p><strong>radioOptionsEstaciones = ['Primavera', 'Verano', 'Otoño', 'Invierno']:</strong></p>

            <mv-radio [options]=radioOptionsEstaciones>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- required -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #required><strong>required</strong></mv-card-title>
            <mv-card-subtitle>Propiedad required.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad required permite hacer el componente obligatorio</p>
            <p>El valor por defecto es <strong>false</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeRequiredHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeRequiredTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>required = true:</strong></p>

            <mv-radio [options]="radioOptions" [(ngModel)]="radio002Model" required=true>
            </mv-radio>

            <p><strong>required = false:</strong></p>

            <mv-radio [options]="radioOptions" [(ngModel)]="radio003Model" required=false>
            </mv-radio>

            <p><strong>Sin required, valor por defecto (false):</strong></p>

            <mv-radio [(ngModel)]="radio004Model" [options]=radioOptions>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- requiredHint -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #requiredHint><strong>requiredHint</strong></mv-card-title>
            <mv-card-subtitle>Texto relativo a la propiedad required.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad requiredHint permite mostrar un mensaje personalizado cuando el componente es obligatorio</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeRequiredHintHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeRequiredHintTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>requiredHint = 'Debes rellenar este campo':</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio005Model" required=true requiredHint="Debes rellenar este campo">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- size -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #size><strong>size</strong></mv-card-title>
            <mv-card-subtitle>Tamaño del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad size permite definir el tamaño del componente</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeSizeHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeSizeTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>size = 'Small':</strong></p>

            <mv-radio [options]=radioOptions size="small">
            </mv-radio>

            <p><strong>size por defecto:</strong></p>

            <mv-radio [options]=radioOptions>
            </mv-radio>

            <p><strong>size = 'Medium':</strong></p>

            <mv-radio [options]=radioOptions size="medium">
            </mv-radio>

            <p><strong>size = 'Big':</strong></p>

            <mv-radio [options]=radioOptions size="big">
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- validateFirst -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateFirst><strong>validateFirst</strong></mv-card-title>
            <mv-card-subtitle>Validación al inicio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validate-first permite decidir si se quiere validar el componente al ser creado</p>
            <p>El valor por defecto es <strong>true</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateFirstHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateFirstTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateFirst = true:</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio006Model" validateFirst=true required=true>
            </mv-radio>

            <p><strong>validateFirst = false:</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio007Model" validateFirst=false required=true>
            </mv-radio>

            <p><strong>Sin validateFirst, valor por defecto (true):</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio008Model" required=true>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- validateOnType -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateOnType><strong>validateOnType</strong></mv-card-title>
            <mv-card-subtitle>Validación del componente en cada cambio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validateOnType permite validar en cada cambio de estado del componente</p>
            <p>El valor por defecto es <strong>true</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateOnTypeHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateOnTypeTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateOnType = true:</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio009Model" validateOnType=true required=true>
            </mv-radio>

            <p><strong>validateOnType = false:</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio010Model" validateOnType=false required=true>
            </mv-radio>

            <p><strong>Sin validateOnType, valor por defecto (true):</strong></p>

            <mv-radio [options]=radioOptions [(ngModel)]="radio011Model" required=true>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- changeEvent -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #changeEvent><strong>changeEvent</strong></mv-card-title>
            <mv-card-subtitle>Evento change.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad changeEvent permite definir una función que se ejecutará al marcar o desmarcar el componente</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeChangeEventHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeChangeEventTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-radio [options]=radioOptions (changeEvent)=changeFunction()>
            </mv-radio>

        </mv-card-content>
    </mv-card>

    <!-- hintToggle -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintToggle><strong>hintToggle</strong></mv-card-title>
            <mv-card-subtitle>Evento para mostrar/ocultar el hint.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad hintToggle es un evento que permite mostrar/ocultar el hint</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintToggleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintToggleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-radio #mvRadioHint hint="Hint de prueba" [options]=radioOptions>
            </mv-radio>

            <br>

            <mv-button (clickEvent)="mvRadioHint.hintToggle()" color="primary">
                Mostrar/ocultar hint
            </mv-button>

        </mv-card-content>
    </mv-card>

    <!-- doValidate -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #doValidate><strong>doValidate</strong></mv-card-title>
            <mv-card-subtitle>Validación del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad doValidate permite validar el componente para que se muestren los posibles mensajes de error. Se debe usar este evento, por ejemplo, cuando queremos validar el componente en un formulario al hacer clic en el botón de guardar/submit.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeDoValidateEventHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeDoValidateEventTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-radio #mvRadioValidateEx [options]=radioOptions required=true validateOnType=false validateFirst=false>
            </mv-radio>

            <br>

            <mv-button (clickEvent)="mvRadioValidateEx.doValidate()" color="primary">
                Validar
            </mv-button>

        </mv-card-content>
    </mv-card>



    <!-- ariaLabel -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #ariaLabel><strong>ariaLabel</strong></mv-card-title>
            <mv-card-subtitle>Etiqueta para accesibilidad</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La etiqueta ariaLabel se utiliza para proporcionar una descripción de texto alternativa para elementos que no tienen un texto visible por si mismo y aseguarse que usuarios con lectores de pantalla y otros asistentes de accesibilidad puedan
                entender el propósito del componente.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="ariaLabelHtml"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="ariaLabelTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
        </mv-card-content>
    </mv-card>




</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>