.fecha-selector-container {
  .field {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }

  mv-card {
    padding: 20px;
  }
  
  mv-button {
    margin-top: 20px;
  }
}