.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  mv-button {
    margin-left: 10px;
  }
}