.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  input {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  mv-button {
    margin-top: 1rem;
  }
}