.form-container {
  padding: 20px;
  
  .form-group {
    margin-bottom: 15px;
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input, mv-calendar {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    div {
      color: red;
      font-size: 12px;
    }
  }
}