@import '~@mova/components/_variables.scss';

.card-code{
  margin-right: auto;
  margin-left: auto;
  max-width: $container-max-width-medium;
}
::ng-deep.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}
