<section class="view-default-style">

  <mv-card>
    <h2>Listado de inmuebles:</h2>
    <p>Resultado en la provincia de Madrid</p>
  </mv-card>

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Ganivet</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa001.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">495.000 €</div>
          <div class="title2">3 habs. 170 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa001@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Roures</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa002.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">295.000 €</div>
          <div class="title2">3 habs. 100 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa002@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Casa en Mirandilla</mv-card-title>
          <mv-card-subtitle>Zona Moraleja</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa003.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">315.000 €</div>
          <div class="title2">2 habs. 150 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa001@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Rivoli</mv-card-title>
          <mv-card-subtitle>Zona Móstoles</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa004.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">256.000 €</div>
          <div class="title2">4 habs. 130 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa004@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en San José de Valderas</mv-card-title>
          <mv-card-subtitle>Zona Alcorcón</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa005.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">133.000 €</div>
          <div class="title2">2 habs. 90 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa005@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Chalet en Cantábrico</mv-card-title>
          <mv-card-subtitle>Zona Arroyomolinos</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa006.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">495.000 €</div>
          <div class="title2">5 habs. 275 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa006@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Ganivet</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa007.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">495.000 €</div>
          <div class="title2">3 habs. 170 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa007@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Roures</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa008.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">295.000 €</div>
          <div class="title2">3 habs. 100 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa008@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Casa en Mirandilla</mv-card-title>
          <mv-card-subtitle>Zona Moraleja</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa009.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">315.000 €</div>
          <div class="title2">2 habs. 150 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa009@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Rivoli</mv-card-title>
          <mv-card-subtitle>Zona Móstoles</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa010.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">256.000 €</div>
          <div class="title2">4 habs. 130 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa010@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en San José de Valderas</mv-card-title>
          <mv-card-subtitle>Zona Alcorcón</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa011.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">133.000 €</div>
          <div class="title2">2 habs. 90 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa011@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Chalet en Cantábrico</mv-card-title>
          <mv-card-subtitle>Zona Arroyomolinos</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa012.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">495.000 €</div>
          <div class="title2">5 habs. 275 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa012@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Ganivet</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa013.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">495.000 €</div>
          <div class="title2">3 habs. 170 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa013@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Piso en Roures</mv-card-title>
          <mv-card-subtitle>Zona Alcobendas</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa014.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">295.000 €</div>
          <div class="title2">3 habs. 100 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa014@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mv-card class="example-card">
        <mv-card-header>
          <mv-card-title>Casa en Mirandilla</mv-card-title>
          <mv-card-subtitle>Zona Moraleja</mv-card-subtitle>
        </mv-card-header>
        <img
          mv-card-image
          src="assets/examples/casa015.png"
          alt="Icono casa">
        <mv-card-content>
          <div class="title1">315.000 €</div>
          <div class="title2">2 habs. 150 m²</div>
          <div class="title3">
            <mv-icon>phone</mv-icon>
            <div>958927198</div>
          </div>
          <div class="title3">
            <mv-icon>email</mv-icon>
            <div>casa015@inmobiliaria.com</div>
          </div>
        </mv-card-content>
        <mv-card-actions>
          <mv-button>Guardar</mv-button>
          <mv-button color="primary">Contactar</mv-button>
        </mv-card-actions>
      </mv-card>
    </div>

  </div>

</section>
