<section class="view-default-style">

  <!-- Protección de datos resumen -->
  <mv-card class="card-code"  *ngIf="showResume">
    <mv-card-header>
      <mv-card-title><p>&nbsp;</p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: x-large;"><b>Declaraci&oacute;n de accesibilidad</b></span></span></p>
        <p><span style="color: #ff0000;"><i><b>Esto es un ejemplo de accesibilidad para la plantilla de MOVA2<br />Cada aplicaci&oacute;n deber&aacute; rellenar su declaraci&oacute;n de accesibilidad de acuerdo con los an&aacute;lisis propios de accesibilidad</b></i></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: x-large;"><b>Situaci&oacute;n de cumplimiento</b></span></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Este sitio web es parcialmente confirme con el Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos m&oacute;viles del sector p&uacute;blico, debido a la falta de conformidad de los aspectos que se indican a continuaci&oacute;n.</span></span></p>
        <h2 class="western">Contenido no accesible</h2>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">El contenido que se recoge a continuaci&oacute;n no es accesible por lo siguiente:</span></span></p>
        <ol>
        <li>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Falta de conformidad con el RD 1112/2018</strong></span></span></p>
        </li>
        </ol>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Existen carencias a nivel de accesibilidad de la aplicaci&oacute;n, como, por ejemplo:</span></span></p>
        <ul>
        <li>
        <span style="font-size: small;">Algunas listas no contienen &uacute;nicamente elementos &lt;li&gt; y elementos que admiten secuencias de comandos (&lt;script&gt; y &lt;template&gt;)</span>
        </li>
        <li>
        <span style="font-size: small;">Algunos botones no tienen nombres accesibles</span>
        </li>
        <li>
        <span style="font-size: small;">Los elementos &lt;frame&gt; o &lt;iframe&gt; no tienen t&iacute;tulo</span>
        </li>
        <li>
        <span style="font-size: small;">Los botones negros redondos de Refrescar, ir abajo, m&aacute;s, salvar o cancelar no tienen otra identificaci&oacute;n que aclare su funci&oacute;n. Lo mismo para el bot&oacute;n rojo con flecha hacia arriba, el bot&oacute;n de lupa para buscar, icono de tel&eacute;fono y sobre.</span>
        </li>
        <li>
        <span style="font-size: small;">Los combos de mes y a&ntilde;o de fecha de nacimiento el lector de pantalla no lee el identificador del campo</span>
        </li>
        <li>
        <span style="font-size: small;">Algunos iconos (estrellas de valoraci&oacute;n de la aplicaci&oacute;n, botones o cuadros blancos sobre fondo blanco o gris, botones o los textos de los botones) no tienen el contraste suficiente</span>
        </li>
        <li>
        <span style="font-size: small;">El men&uacute; lateral no es operable desde teclado</span>
        </li>
        <li>
        <span style="font-size: small;">En la lista simple de cliente, no se puede mover con el teclado por los resultados</span>
        </li>
        <li>
        <span style="font-size: small;">Falla el encabezado de las p&aacute;ginas al no tener encabezado o ser demasiado gen&eacute;rico y poco descriptivo</span>
        </li>
        <li>
        <span style="font-size: small;">Falla el titulado de las p&aacute;ginas, todas tienen el mismo t&iacute;tulo: "MOVA 2 - Plantilla"</span>
        </li>
        <li>
        <span style="font-size: small;">El foco no se fija ni es visible en los elementos del men&uacute; lateral</span>
        </li>
        <li>
        <span style="font-size: small;">El foco no se fija en algunos controles de las p&aacute;ginas</span>
        </li>
        <li>
        <span style="font-size: small;">Se comprueba que no existen elementos propios de la accesibilidad como el cambio de idioma.</span>
        </li>
        <li>
        <span style="font-size: small;"><span lang="en-US">Se detectan fallos por el campo height: "&gt;&lt;/head&gt;</span><span style="font-family: Cambria Math, serif;"><span lang="en-US">↩</span></span><span lang="en-US">&lt;body style="overflow:hidden;height:calc(100vh - env(safe-area-inset-top)); padding-bottom: 0px !important;"&gt;</span></span>
        </li>
        <li>
        <span style="font-size: small;">Algunos enlaces de la p&aacute;gina de entrada no son rastreables</span>
        </li>
        </ul>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Adem&aacute;s, se recomienda:</span></span></p>
        <ul>
        <li>
        <span style="font-size: medium;">Usar mayor contraste en algunos botones cuando reciben el foco</span>
        </li>
        </ul>
        <p></p>
        <ol start="2">
        <li>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><b>carga desproporcionada</b></span></span></p>
        </li>
        </ol>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> No aplica.</span></span></p>
        <ol start="3">
        <li>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">el contenido </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><b>no entra dentro del &aacute;mbito de la legislaci&oacute;n</b></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> aplicable</span></span></p>
        </li>
        </ol>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Podr&iacute;an existir archivos ofim&aacute;ticos en PDF u otros formatos publicados antes del 20 de septiembre de 2018 que no cumplan en su totalidad todos los requisitos de accesibilidad. Aunque se ha procurado que la mayor&iacute;a de ellos s&iacute; lo cumplan.</span></span></p>
        <h2 class="western">Preparaci&oacute;n de la presente declaraci&oacute;n de conformidad</h2>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">La presente declaraci&oacute;n fue preparada el 27/03/2023, con conformidad del&nbsp;nivel AA de las WCAG 2.1.</span></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">La preparaci&oacute;n se ha realizado mediante una autoevaluaci&oacute;n de los requisitos de la norma <span style="color: #0000ff;"><u><a href="http://administracionelectronica.gob.es/PAe/accesibilidad/une-en-301549-2019.pdf">UNE-EN 301-549:2019</a></u></span>.</span></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">&Uacute;ltima revisi&oacute;n realizada: 23 de marzo de 2023.</span></span></p>
        <h2 class="western">Observaciones y datos de contacto</h2>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Puede realizar comunicaciones sobre requisitos de accesibilidad (art&iacute;culo 10.2.a) del RD 1112/2018) como por ejemplo:</span></span></p>
        <ul>
        <li>
          <span style="font-size: small;">informar sobre cualquier posible incumplimiento por parte de este sitio web</span>
        </li>
        <li>
          <span style="font-size: small;">transmitir otras dificultades de acceso al contenido</span>
        </li>
        <li>
          <span style="font-size: small;">formular cualquier otra consulta o sugerencia de mejora relativa a la accesibilidad del sitio web</span>
        </li>
        </ul>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">A trav&eacute;s de la direcci&oacute;n de correo electr&oacute;nico <span style="color: #0000ff;"><u><a href="mailto:serviciosytramitessubg@madrid.org"><span style="color: #145db3;"><span>serviciosytramitessubg@madrid.org</span></span></a></u></span> o en el tel&eacute;fono 012</span></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Las comunicaciones ser&aacute;n recibidas y tratadas por el Servicio de Canales Digitales de Madrid Digital.</span></span></p>
        <h2 class="western">Procedimiento de aplicaci&oacute;n</h2>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Si una vez realizada una solicitud de informaci&oacute;n accesible o queja, &eacute;sta hubiera sido desestimada, no se estuviera de acuerdo con la decisi&oacute;n adoptada, o la respuesta no cumpliera los requisitos contemplados en el art&iacute;culo 12.5 del RD 1112/2018, la persona interesada podr&aacute; iniciar una reclamaci&oacute;n. Igualmente se podr&aacute; iniciar una reclamaci&oacute;n en el caso de no haber obtenido respuesta.</span></span></p>
        <p><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">El procedimiento reclamaci&oacute;n recogido en el art&iacute;culo 13 del RD 1112/2018, puede iniciarse a trav&eacute;s de este enlace. <span style="color: #5b9bd5;">https://gestiona.comunidad.madrid/suqe_inter/run/j/QuejaAlta.icm</span></span></span></p>
        <h2 class="western">Contenido opcional</h2>
        <p>Se est&aacute; haciendo una revisi&oacute;n completa de los componentes del Framework MOVA2 para hacerlos accesibles, empezando por los m&aacute;s cr&iacute;ticos</p>
        <p><br /><br /></p>
        <p></p>
        <p></p></mv-card-title>
    </mv-card-header>

    <mv-card-content>
      <p class="advice">* Este texto deberá ser cambiado por la declaración de accesibilidad de cada aplicación</p>
      
      <mv-button
        id="backButton"
        color="primary"
        adapt=true
        appearance="raised"
        (clickEvent)="goTo('back')">
        Volver
      </mv-button>

    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
