
<div class="video-container">
  <video autoplay muted loop id="myVideo">
    <source src="https://gestiona3.madrid.org/portalapps/util/assets/madrid.mp4" type="video/mp4">
    <track label="English" kind="captions" srclang="en"  default>
    <track label="Español" kind="captions" srclang="es" >
  </video>
</div>

<div class="container">
  <mv-card
    class="app-maquetacion-portal-main-search">

    <mv-input
      id="appMaquetacionPortalMainSearchText"
      class="app-maquetacion-portal-main-search-input"
      placeholder="Búsqueda avanzada por temas">
    </mv-input>

    <mv-button
      class="app-maquetacion-portal-main-search-button"
      color="primary">
      <mv-icon>search</mv-icon>
    </mv-button>

  </mv-card>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

      <mv-card
        class="app-maquetacion-portal-main-option color1">
        <mv-card-title>
          VIVIR
        </mv-card-title>
        <mv-card-subtitle>
          Información y sercicios para tu vida diaria
        </mv-card-subtitle>
        <img
          class="app-maquetacion-portal-main-option-icon"
          src="assets/examples/portal-001.png"
          alt="Icono metro">
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-option-secondary">
        <p>Cita sanitaria</p>
        <p>Demanda de empleo</p>
        <p>Calendario escolar</p>
        <p>Familias numerosas</p>
        <p>Apps transporte público</p>
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-plus">
        <span>+</span>
      </mv-card>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

      <mv-card
        class="app-maquetacion-portal-main-option color2">
        <mv-card-title>
          DISFRUTAR
        </mv-card-title>
        <mv-card-subtitle>
          Tu agenda de cultura, ocio y eventos
        </mv-card-subtitle>
        <img
          class="app-maquetacion-portal-main-option-icon"
          src="assets/examples/portal-002.png"
          alt="Icono de ocio">
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-option-secondary">
        <p>Paseando por Madrid</p>
        <p>Mercados gastronómicos</p>
        <p>Museos y exposiciones</p>
        <p>Espacios naturales</p>
        <p>Experiencias únicas</p>
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-plus">
        <span>+</span>
      </mv-card>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

      <mv-card
        class="app-maquetacion-portal-main-option color3">
        <mv-card-title>
          INVERTIR
        </mv-card-title>
        <mv-card-subtitle>
          Inversión, innovación y desarrollo empresarial
        </mv-card-subtitle>
        <img
          class="app-maquetacion-portal-main-option-icon"
          src="assets/examples/portal-003.png"
          alt="Icono de inversión">
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-option-secondary">
        <p>Quiero montar una empresa</p>
        <p>¿Por qué invertir en madrid?</p>
        <p>Tarifa plana para autónomos</p>
        <p>Ciencia y tecnología</p>
        <p>Relaciones con inversores</p>
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-plus">
        <span>+</span>
      </mv-card>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

      <mv-card
        class="app-maquetacion-portal-main-option color4">
        <mv-card-title>
          ACCIÓN DE GOBIERNO
        </mv-card-title>
        <mv-card-subtitle>
          El gobierno y la administración regional
        </mv-card-subtitle>
        <img
          class="app-maquetacion-portal-main-option-icon"
          src="assets/examples/portal-004.png"
          alt="Icono Madrid">
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-option-secondary">
        <p>Actualidad</p>
        <p>Transparencia</p>
        <p>Atención al ciudadano</p>
        <p>Agenda del gobierno</p>
        <p>Gestiones y trámites</p>
      </mv-card>

      <mv-card
        class="app-maquetacion-portal-main-plus">
        <span>+</span>
      </mv-card>

    </div>

  </div>

  <mv-card
    class="app-maquetacion-portal-main-options-social">

    <img
      class="app-maquetacion-portal-main-option-social"
      src="assets/examples/menu_icon_facebook.png"
      alt="Icono facebook">

    <img
      class="app-maquetacion-portal-main-option-social"
      src="assets/examples/menu_icon_twitter.png"
      alt="Icono twitter">

    <img
      class="app-maquetacion-portal-main-option-social"
      src="assets/examples/menu_icon_youtube.png"
      alt="Icono Youtube">

    <img
      class="app-maquetacion-portal-main-option-social"
      src="assets/examples/menu_icon_linkedin.png"
      alt="Icono Linkedin">

    <img
      class="app-maquetacion-portal-main-option-social"
      src="assets/examples/menu_icon_instagram.png"
      alt="Icono Instagram">

  </mv-card>
</div>
