<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 identify-mobile">
      <div class="identify-container">
        <p>Pulse en un punto del mapa para identificar.</p>
        <span>Coordenadas del punto: </span>
        <p><strong>{{identifyPoint}}</strong></p>
        <span>Elementos seleccionados:</span>
        <p><strong>{{identifyFeature}}</strong> </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-9 map-mobile">
      <div id="container-apigis-identify"></div>
    </div>
  </div>
</div>
