<section class="view-default-style">

    <mv-card class="card-code">
      <mv-card-title>
        Ejemplo de mapas de GIS - VGCM
      </mv-card-title>
  
      <mv-card
              class="danger-card">
        <mv-card-title>
          IMPORTANTE
        </mv-card-title>
              <p>La funcionalidad de Mapas es ofrecida por la Unidad de Sistemas de Información Geográfica.</p>
              <p>Los ejemplos aquí mostrados se integran siguiendo las normas y documentación de esta unidad.</p>
              <p>Para soporte acerca de funcionalidad de los mapas contactar con la Unidad de Sistemas de información Geográfica.</p>
          </mv-card>
  
          <mv-card
              class="success-card">
        <mv-card-title>
          IMPORTANTE
        </mv-card-title>
              <p>Para la integración de mapas en las aplicaciones MOVA, por defecto habrá que usar los mapas del Unidad de Datos Abiertos y GIS.</p>
              <p>Para usar otro tipo de integraciones con mapas (por ejemplo google maps) habrá que solicitar una autorización previa a Arquitectura de aplicaciones.</p>
              <p>Los mapas de GIS están basados en un visor. Antes usar los mapas habrá que ponerse en contacto con la unidad de GIS y  solicitar un visor para el uso en la aplicación. En este visor que se definirán las características del mismo como:</p>
              <p>- Nombre del visor</p>
              <p>- Si incluye o no cabecera
              <p>- Herramientas del visor (como zoom, búsqueda, etc)</p>
              <p>- Capas que incluye el visor (calles, municipios, puntos de interés, etc) activas y no activas</p>
              <p>
          <a href="https://gestiona3.madrid.org/arquitecturasw/index.php/component/jdownloads/send/308-apps-moviles/28460-vgcm-api-integracion-v2-0-0?option=com_jdownloads" rel="noopener noreferrer" target="_blank">
            Manual de uso del API de mapas
          </a> 
        </p>
          </mv-card>
    </mv-card>
  
  </section>
  