<section class="view-default-style">

  <mv-card class="card-code">

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <mv-button
          link="/forms-reactive-validation-on-type"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario reactivo con validación en tiempo real</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <mv-button
          link="/forms-reactive-validation"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario reactivo sin validación en tiempo real</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <mv-button
          link="/forms-reactive-validation-no-menu"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario reactivo sin menu</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <mv-button
          link="/forms-template-validation-on-type"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario template con validación en tiempo real</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <mv-button
          link="/forms-template-validation"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario template sin validación en tiempo real</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-wizard"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formulario con wizard lateral</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-list-detail"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formularios con wizard lateral II</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-wizard-top"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Formularios con wizard arriba</span>
          </div>
        </mv-button>
      </div>

    </div>

  </mv-card>

</section>
