<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación mv-device-view</strong></mv-card-title>

    <!-- Índice de la documentación -->
    <div>
      <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Información
      </a>
    </div>

  </mv-card>

  <!-- Información -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #info><strong>Información</strong></mv-card-title>
      <mv-card-subtitle>Información general del componente <strong>mv-device-view</strong>.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Este componente permite mostrar al usuario información relevante de la aplicación, así como las características técnicas cuando se ejecuta en móvil y web.</p>
  		<p>Este componente no es configurable mediante parámetros u opciones.</p>

    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
