<section class="view-default-style">
  <div class="main-section">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-simple" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de mapa básico</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-grid" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de visor con dos mapas</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-toc" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de uso de TOC para añadir/quitar capas</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-hover" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de capa con hover</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-cluster" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de capa con cluster</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-draw" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de mapa con herramienta de dibujo</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-measure" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de mapa con herramienta de medición</span>
        </mv-button>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-identify" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de mapa con identificación de capas</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-symbology" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de edición de capa</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-filters" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de uso de filtros y búsqueda</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-geocoder" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de uso de Geocoder</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button link="/layout-apigis-reverse-geocoder" class="corporative" appearance="raised" adapt=true>
          <mv-icon>map</mv-icon>
          <span class="buttonTitle truncate">Ejemplo de uso de Reverse Geocoder</span>
        </mv-button>
      </div>

    </div>
  </div>
</section>
