<section class="view-default-style">

  <!-- menu 1 -->
  <mv-card class="menu1">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="title">
          <strong>FAST FOOD MENU</strong>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img 
          src="assets/examples/burguer.png"
          alt="Hamburguesa">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="menuCard">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Solo carne
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              3,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Cheeseburguer
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              4,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Cheeseburguer con bacon
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              4,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              5,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial doble
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial chiniwini
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Tejana
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              6,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Tejana doble
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Tejana chiniwini
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img 
          src="assets/examples/pizza.png"
          alt="Pizza">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="menuCard">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Margarita
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              5,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Bacon
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              5,90€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Jamón
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              5,90€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              4 estaciones
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              6,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              4 quesos
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              6,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Champi
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              6,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img 
          src="assets/examples/hotdog.png"
          alt="Perrito caliente">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="menuCard">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Sencillo
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              2,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Cebolla
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              3,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Cebolla y pepinillos
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              3,50€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              5,00€
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
              Especial doble
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
              7,50€
            </div>
          </div>
        </div>
      </div>
    </div>
  </mv-card>

  <!-- menu 2 -->
  <mv-card class="menu2">
    <mv-card-title>
      FAST FOOD MENU
    </mv-card-title>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mv-card class="example-card">
          <mv-card-header>
            <mv-card-title>BURGUER</mv-card-title>
            <mv-card-subtitle>100% vacuno</mv-card-subtitle>
          </mv-card-header>
          <img 
            mv-card-image 
            src="assets/examples/burguer.png"
            alt="Hamburguesa">
          <mv-card-content>
            <div class="menuCard">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Solo carne
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  3,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Cheeseburguer
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  4,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Cheeseburguer con bacon
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  4,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  5,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial doble
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial chiniwini
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Tejana
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  6,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Tejana doble
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Tejana chiniwini
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>

              </div>
            </div>
          </mv-card-content>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mv-card class="example-card">
          <mv-card-header>
            <mv-card-title>PIZZA</mv-card-title>
            <mv-card-subtitle>Sabor italiano</mv-card-subtitle>
          </mv-card-header>
          <img 
            mv-card-image 
            src="assets/examples/pizza.png"
            alt="Pizza">
          <mv-card-content>
            <div class="menuCard">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Margarita
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  5,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Bacon
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  5,90€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Jamón
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  5,90€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  4 estaciones
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  6,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  4 quesos
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  6,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Champi
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  6,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>
              </div>
            </div>
          </mv-card-content>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mv-card class="example-card">
          <mv-card-header>
            <mv-card-title>HOT DOG</mv-card-title>
            <mv-card-subtitle>100% americano</mv-card-subtitle>
          </mv-card-header>
          <img 
            mv-card-image 
            src="assets/examples/hotdog.png"
            alt="Perrito caliente">
          <mv-card-content>
            <div class="menuCard">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Sencillo
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  2,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Cebolla
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  3,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Cebolla y pepinillos
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  3,50€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  5,00€
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textLeft">
                  Especial doble
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight">
                  7,50€
                </div>
              </div>
            </div>
          </mv-card-content>
        </mv-card>
      </div>
    </div>
  </mv-card>

</section>
