<section class="view-default-style">

    <!-- Componente -->
    <mv-card class="card-code">
        <mv-card-title><strong>Documentación mv-select</strong></mv-card-title>

        <!-- Índice de la documentación -->
        <div>
            <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Información
            </a>
        </div>
        <div>
            <a class="nostyle" (click)='useExample.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Ejemplo de uso
            </a>
        </div>
        <p>Propiedades:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='adapt.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> adapt
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='appearance.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> appearance
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='delay.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> delay
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='disabled.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> disabled
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='floatLabel.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> floatLabel
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hint.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hint
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintAlign.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintAlign
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintType.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintType
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='label.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> label
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='multiple.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> multiple
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='name.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> name
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='optionLabel.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> optionLabel
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='options.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> options
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='panelClass.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> panelClass
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='placeholder.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> placeholder
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='required.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> required
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='requiredHint.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> requiredHint
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='showCountSelected.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> showCountSelected
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateBannedArray.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateBannedArray
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateBannedHint.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateBannedHint
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateFirst.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateFirst
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='validateOnType.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> validateOnType
                </a>
            </li>
        </ol>

        <p>Eventos:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='changeEvent.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> changeEvent
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='hintToggle.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> hintToggle
                </a>
            </li>
        </ol>



        <p>Accesibilidad:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='ariaLabel.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> ariaLabel
                </a>
            </li>
        </ol>


    </mv-card>

    <!-- Información -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #info><strong>Información</strong></mv-card-title>
            <mv-card-subtitle>Información del componente <strong>mv-select</strong>.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>El componente mv-select se basa en el componente mat-select de Angular Material, al que se le añade funcionalidad y estilos adicionales.</p>

        </mv-card-content>
    </mv-card>

    <!-- Ejemplo de uso -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #useExample><strong>Ejemplo de uso</strong></mv-card-title>
            <mv-card-subtitle>Uso básico del componente <strong>mv-select</strong>.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>A continuación se muestra un ejemplo básico de uso del componente.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeUseExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeUseExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-select-x [(ngModel)]="select001Model" [options]="selectOptionsEstaciones">
            </mv-select-x>

            <p><strong>Valor de la variable 'select001Model'</strong>: {{select001Model | json}}</p>

        </mv-card-content>
    </mv-card>

    <!-- adapt -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #adapt><strong>adapt</strong></mv-card-title>
            <mv-card-subtitle>Ancho del 100%.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad adapt permite definir el ancho del componente al 100% del contenedor.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeAdaptExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeAdaptExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con adapt a true:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" adapt=true>
            </mv-select-x>

            <p><strong>Con adapt a false:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" adapt=false>
            </mv-select-x>

            <p><strong>Sin adapt (comportamiento por defecto):</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- appearance -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #appearance><strong>appearance</strong></mv-card-title>
            <mv-card-subtitle>Apariencia del select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad appearance permite definir la apariencia del componente, por defecto outline.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeAppearanceExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeAppearanceExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con apariencia 'legacy':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" appearance="legacy">
            </mv-select-x>

            <p><strong>Con apariencia 'standard':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" appearance="standard">
            </mv-select-x>

            <p><strong>Con apariencia 'fill':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" appearance="fill">
            </mv-select-x>

            <p><strong>Con apariencia 'outline':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" appearance="outline">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- delay -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #delay><strong>delay</strong></mv-card-title>
            <mv-card-subtitle>Retardo tras pulsación.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad delay permite definir un retardo de los eventos tras una pulsación en el componente</p>
            <p>El valor por defecto es <strong>0</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeDelayExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeDelayExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Delay = 3000:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones delay="3000" (changeEvent)=changeFunctionDelay()>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- disabled -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #disabled><strong>disabled</strong></mv-card-title>
            <mv-card-subtitle>Deshabilitar el select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad disabled permite deshabilitar el componente</p>
            <p>El valor por defecto es <strong>false</strong>.</p>
            <p>También se puede aplicar esta propiedad a opciones concretas del select, debiendo definirlo en el array de opciones</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeDisabledExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeDisabledExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con disabled a true:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" disabled=true>
            </mv-select-x>

            <p><strong>Con disabled a false:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" disabled=false>
            </mv-select-x>

            <p><strong>Sin disabled (comportamiento por defecto):</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones">
            </mv-select-x>

            <p><strong>Disabled individual en cada elemento:</strong></p>

            <mv-select-x [options]="selectOptionsEstacionesDisabled">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- floatLabel -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #floatLabel><strong>floatLabel</strong></mv-card-title>
            <mv-card-subtitle>Comportamiento de la label.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad floatLabel permite definir el comportamiento de la label del componente.</p>
            <p>Si usamos la propiedad floatLabel también tendrá que haber definida una label, mediante la propiedad <strong>label</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeFloatLabelExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeFloatLabelExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con floatLabel 'always':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Propiedad floatLabel" floatLabel="always">
            </mv-select-x>

            <p><strong>Con floatLabel 'never':</strong></p>
            <p>* El valor 'never' solo aplica cuando la propiedad <strong>appearance='legacy'</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Propiedad floatLabel" appearance="legacy" floatLabel="never">
            </mv-select-x>

            <p><strong>Con floatLabel 'auto':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Propiedad floatLabel" floatLabel="auto">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- hint -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hint><strong>hint</strong></mv-card-title>
            <mv-card-subtitle>Texto explicativo.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad hint permite definir un texto debajo del componente.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con hint 'Propiedad hint':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hint="Propiedad hint">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- hintAlign -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintAlign><strong>hintAlign</strong></mv-card-title>
            <mv-card-subtitle>Posición del hint.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad hintAlign permite establecer la posición del hint al principio o al final del componente.</p>
            <p>En caso de usar esta propiedad también tendrá que estar definida la propiedad <strong>hint</strong></p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintAlignExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintAlignExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con hintAlign 'start':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintAlign="start" hint="Hint al principio">
            </mv-select-x>

            <p><strong>Con hintAlign 'end':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintAlign="end" hint="Hint al final">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- hintType -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintType><strong>hintType</strong></mv-card-title>
            <mv-card-subtitle>Estilo del hint.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad hintType permite definir el estilo del hint entre los valores warning, info, danger y success. </p>
            <p>En caso de usar esta propiedad también tendrá que estar definida la propiedad <strong>hint</strong></p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintTypeExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintTypeExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con hintType 'info':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintType="info" hint="Hint info">
            </mv-select-x>

            <p><strong>Con hintType 'success':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintType="success" hint="Hint success">
            </mv-select-x>
            <p><strong>Con hintType 'warning':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintType="warning" hint="Hint warning">
            </mv-select-x>
            <p><strong>Con hintType 'danger':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" hintType="danger" hint="Hint danger">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- label -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #label><strong>label</strong></mv-card-title>
            <mv-card-subtitle>Label del select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad label permite definir un texto que queda por encima del componente, a modo de título. </p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeLabelExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeLabelExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con label 'Label del select' y apariencia 'legacy':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Label del select" appearance="legacy">
            </mv-select-x>

            <p><strong>Con label 'Label del select' y apariencia 'standard':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Label del select" appearance="standard">
            </mv-select-x>

            <p><strong>Con label 'Label del select' y apariencia 'fill':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Label del select" appearance="fill">
            </mv-select-x>

            <p><strong>Con label 'Label del select' y apariencia 'outline':</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" label="Label del select" appearance="outline">
            </mv-select-x>


        </mv-card-content>
    </mv-card>

    <!-- multiple -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #multiple><strong>multiple</strong></mv-card-title>
            <mv-card-subtitle>Selección múltiple.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La propiedad multiple permite selección múltiple en el select. </p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeMultipleExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeMultipleExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Con multiple a true:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" multiple=true>
            </mv-select-x>

            <p><strong>Con multiple a false:</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones" multiple=false>
            </mv-select-x>

            <p><strong>Sin multiple (comportamiento por defecto):</strong></p>

            <mv-select-x [options]="selectOptionsEstaciones">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- name -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #name><strong>name</strong></mv-card-title>
            <mv-card-subtitle>Propiedad name para formularios.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad name permite identificar al componente en un formulario, por tanto esta propiedad solo tiene sentido si se va a usar dentro de un &lt;form></p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeNameExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeNameExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>name = 'mySelectName':</strong></p>

            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mv-select-x ngModel name="mySelectName" [options]="selectOptionsEstaciones">
                </mv-select-x>
                <br>
                <mv-button color="primary">
                    Submit
                </mv-button>
            </form>

            <p><strong>Valor recogido del form: {{formValue | json}}</strong></p>

        </mv-card-content>
    </mv-card>

    <!-- optionLabel -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #optionLabel><strong>optionLabel</strong></mv-card-title>
            <mv-card-subtitle>Valores del select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad optionLabel permite definir un valor adicional a los valores definidos en <strong>options</strong> que se colocará encima de estos</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeOptionLabelExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeOptionLabelExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>optionLabel = 'Estaciones':</strong></p>

            <mv-select-x optionLabel="Estaciones" [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- options -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #options><strong>options</strong></mv-card-title>
            <mv-card-subtitle>Valores del select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad options permite definir los valores del componente</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeOptionsExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeOptionsExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>options = ['Opción 1', 'Opción 2']:</strong></p>

            <mv-select-x [options]=selectOptions>
            </mv-select-x>

            <p><strong>options = ['Primavera', 'Verano', 'Otoño', 'Invierno']:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- panelClass -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #panelClass><strong>panelClass</strong></mv-card-title>
            <mv-card-subtitle>Clase CSS aplicada al panel del select.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad panelClass permite definir una clase CSS para el panel del select. Acepta la misma sintaxis que ngClass
            </p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codePanelClassExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codePanelClassExampleTS"></code></pre>
                </mv-tab>
                <mv-tab label="CSS">
                    <pre><code [highlight]="codePanelClassExampleCSS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>panelClass = "myPanelClass":</strong></p>

            <mv-select-x panelClass="myPanelClass" [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- placeholder -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #placeholder><strong>placeholder</strong></mv-card-title>
            <mv-card-subtitle>Placeholder del componente.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad placeholder permite definir el placeholder para el select. </p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codePlaceholderExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codePlaceholderExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Placeholder = 'Escoge una opción':</strong></p>

            <mv-select-x placeholder="Escoge una opción" [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- required -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #required><strong>required</strong></mv-card-title>
            <mv-card-subtitle>Componente obligatorio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad required permite definir el componente como obligatorio. </p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeRequiredExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeRequiredExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>required = true:</strong></p>

            <mv-select-x validateFirst=true [options]=selectOptionsEstaciones required=true>
            </mv-select-x>

            <p><strong>required = false:</strong></p>

            <mv-select-x validateFirst=true [options]=selectOptionsEstaciones required=false>
            </mv-select-x>

            <p><strong>Sin required, valor por defecto (false):</strong></p>

            <mv-select-x validateFirst=true [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- requiredHint -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #requiredHint><strong>requiredHint</strong></mv-card-title>
            <mv-card-subtitle>Texto relativo a la propiedad required.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad requiredHint permite mostrar un mensaje personalizado cuando el componente es obligatorio</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeRequiredHintExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeRequiredHintExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>requiredHint = 'Debes rellenar este campo':</strong></p>

            <mv-select-x validateFirst=true [options]=selectOptionsEstaciones required=true requiredHint="Debes rellenar este campo">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- showCountSelected -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #showCountSelected><strong>showCountSelected</strong></mv-card-title>
            <mv-card-subtitle>Contador elementos seleccionados.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad showCountSelected permite mostrar el mensaje '+1 más' cuando seleccionamos varias opciones en un select con propiedad multiple=true</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeShowCountSelectedExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeShowCountSelectedExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>showCountSelected = true:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones [multiple]=true [showCountSelected]=true>
            </mv-select-x>

            <p><strong>showCountSelected = false:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones [multiple]=true [showCountSelected]=false>
            </mv-select-x>

            <p><strong>Sin showCountSelected, valor por defecto (false):</strong></p>

            <mv-select-x [multiple]=true [options]=selectOptionsEstaciones>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- validateBannedArray -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateBannedArray><strong>validateBannedArray</strong></mv-card-title>
            <mv-card-subtitle>Elementos no seleccionables.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validateBannedArray permite definir elementos como no válidos, de manera que si seleccionamos uno de esos elementos se mostrará el mensaje 'Elemento no seleccionable'</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateBannedArrayExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateBannedArrayExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateBannedArray = ['invierno', 'otoño']:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones [validateBannedArray]=validateBannedArrayExample>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- validateBannedHint -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateBannedHint><strong>validateBannedHint</strong></mv-card-title>
            <mv-card-subtitle>Hint de la propiedad validateBannedArray.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validateBannedHint permite definir un hint personalizado para la propiedad validateBannedArray</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateBannedHintExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateBannedHintExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateBannedHint = 'Elige otro elemento distinto':</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones [validateBannedArray]=validateBannedArrayExample validateBannedHint="Elige otro elemento distinto">
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- validateFirst -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateFirst><strong>validateFirst</strong></mv-card-title>
            <mv-card-subtitle>Validación al inicio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validate-first permite decidir si se quiere validar el componente al ser creado</p>
            <p>El valor por defecto es <strong>true</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateFirstExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateFirstExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateFirst = true:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones validateFirst=true required=true>
            </mv-select-x>

            <p><strong>validateFirst = false:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones validateFirst=false required=true>
            </mv-select-x>

            <p><strong>Sin validateFirst, valor por defecto (true):</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones required=true>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- validateOnType -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #validateOnType><strong>validateOnType</strong></mv-card-title>
            <mv-card-subtitle>Validación del componente en cada cambio.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad validateOnType permite validar en cada cambio de estado del componente</p>
            <p>El valor por defecto es <strong>true</strong>.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeValidateOnTypeExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeValidateOnTypeExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>validateOnType = true:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones validateOnType=true required=true>
            </mv-select-x>

            <p><strong>validateOnType = false:</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones validateOnType=false required=true>
            </mv-select-x>

            <p><strong>Sin validateOnType, valor por defecto (true):</strong></p>

            <mv-select-x [options]=selectOptionsEstaciones required=true>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- changeEvent -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #changeEvent><strong>changeEvent</strong></mv-card-title>
            <mv-card-subtitle>Evento change.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad changeEvent permite definir una función que se ejecutará al marcar o desmarcar el componente</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeChangeEventExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeChangeEventExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-select-x [options]=selectOptionsEstaciones (changeEvent)=changeFunction()>
            </mv-select-x>

        </mv-card-content>
    </mv-card>

    <!-- hintToggle -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #hintToggle><strong>hintToggle</strong></mv-card-title>
            <mv-card-subtitle>Evento para mostrar/ocultar el hint.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>La propiedad hintToggle es un evento que permite mostrar/ocultar el hint</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="codeHintToggleExampleHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="codeHintToggleExampleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <mv-select-x #mvSelectHint hint="Hint de prueba" [options]=selectOptionsEstaciones>
            </mv-select-x>

            <br>

            <mv-button (clickEvent)="mvSelectHint.hintToggle()" color="primary">
                Mostrar/ocultar hint
            </mv-button>

        </mv-card-content>
    </mv-card>


    <!-- ariaLabel -->
    <mv-card class="card-code">
        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #ariaLabel><strong>ariaLabel</strong></mv-card-title>
            <mv-card-subtitle>Etiqueta para accesibilidad</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>La etiqueta ariaLabel se utiliza para proporcionar una descripción de texto alternativa para elementos que no tienen un texto visible por si mismo y aseguarse que usuarios con lectores de pantalla y otros asistentes de accesibilidad puedan
                entender el propósito del componente.</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="ariaLabelHtml"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="ariaLabelTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
        </mv-card-content>
    </mv-card>



</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>