<section class="view-default-style">
  <mv-card id="health-card">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="cardTitle">
          <mv-icon>person</mv-icon>
          <strong>Rick Sánchez Fernández</strong>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="fecha">
          Último acceso: 21/02/2020
        </div>
      </div>
    </div>

    <div class="backgroundGrey">

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton">
          <mv-button
            adapt=true>
            <img 
              src="assets/examples/app-maquetacion-carpeta-salud-icon-info-clinica.png"
              alt="Documento salud">
            <div class="buttonText truncate">
              <strong>Mi información clínica</strong>
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton">
          <mv-button
            adapt=true>
            <img 
              src="assets/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
              alt="Botiquín">
            <div class="buttonText truncate">
              <strong>Mis datos de salud</strong>
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton">
          <mv-button
            adapt=true>
            <img 
              src="assets/examples/app-maquetacion-carpeta-salud-icon-calendario.png"
              alt="Calendario">
            <div class="Calendario">
              <strong>Mi calendario de citas</strong>
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="blue"
            disabled=true>
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-episodios.png"
                alt="Informe">
              Datos clínicos
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="blue">
            <div class="truncate">
              <img 
                class="" 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-cuidados-enfermeria.png"
                alt="Manos entrelazadas">
              Cuidados de enfermería
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="green"
            disabled=true>
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-hoja-medicacion.png"
                alt="Receta">
              Medicación
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="green">
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon_reaccionesAdversas.png"
                alt="Medicamentos">
              Alergias y reacciones
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="grey"
            disabled=true>
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-vacunas.png"
                alt="Jeringuilla">
              Vacunas
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="grey">
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-incapacidad-temporal.png"
                alt="Informe de baja">
              Incapacidad laboral
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="red"
            disabled=true>
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
                alt="Documento de instrucciones">
              Instrucciones previas
            </div>
          </mv-button>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton">
          <mv-button
            adapt=true
            class="red">
            <div class="truncate">
              <img 
                src="assets/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
                alt="Documento de instrucciones">
              Otras opciones
            </div>
          </mv-button>
        </div>
      </div>
    </div>

  </mv-card>

  <mv-card class="warning-card">
    <p>
    Le informamos que, a partir del momento en que descargue o imprima la documentación e información almacenada en
    "Mi Carpeta de Salud", la custodia de la misma pasará a ser de su exclusiva responsabilidad,
    recomendándole que haga un uso cuidadoso de ella en función de su sensibilidad.
    Si decidiera conservarla, que sea en algún lugar o formato con acceso restringido.</p>
  </mv-card>

  <mv-card class="info-card">
    <p>
    Para más información, puede contactar con el teléfono de información general de la Comunidad de Madrid 900 102 112.
    En caso de duda o sugerencia sobre la información que se ofrece en este servicio,
    puede contactar con: sanidadinforma@salud.madrid.org.</p>
  </mv-card>

</section>
