<section class="view-default-style">
  <div class="main-container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-static-data-report"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Ejemplo de informe</span>
            </div>
          </mv-button>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-static-data-bill"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Ejemplo de factura</span>
            </div>
          </mv-button>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-static-data-menu"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Ejemplo de menú</span>
            </div>
          </mv-button>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-static-data-census"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Ejemplo de presentaciones</span>
            </div>
          </mv-button>
        </div>
      </div>

    </div>

  </div>

</section>
