<section class="view-default-style">

  <mv-card>
    <mv-card-title>
      Aplicación móvil de paso a producción
    </mv-card-title>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-1 image1">
          <div class="gradient"></div>
          <mv-card-title>
            <mv-icon>check</mv-icon>
          </mv-card-title>
          <mv-card-subtitle>
            Mis peticiones
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-1 image2">
          <div class="gradient"></div>
          <mv-card-title>
            <mv-icon>search</mv-icon>
          </mv-card-title>
          <mv-card-subtitle>
            Consulta de módulos técnicos
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-1 image3">
          <div class="gradient"></div>
          <mv-card-title>
            <mv-icon>search</mv-icon>
          </mv-card-title>
          <mv-card-subtitle>
            Módulos técnicos por máquinas
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-1 image4">
          <div class="gradient"></div>
          <mv-card-title>
            <mv-icon>search</mv-icon>
          </mv-card-title>
          <mv-card-subtitle>
            Módulos técnicos por bbdd
          </mv-card-subtitle>
        </mv-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mv-card
          class="card-type-1 image5">
          <div class="gradient"></div>
          <mv-card-title>
            <mv-icon>error</mv-icon>
          </mv-card-title>
          <mv-card-subtitle>
            Autorizaciones urgentes
          </mv-card-subtitle>
        </mv-card>
      </div>

    </div>
  </mv-card>

</section>
