<section class="view-default-style">

  <mv-card>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header1 textLeft">
        <div>
          Móvil
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header2 textRight">
        <mv-icon>stay_current_portrait</mv-icon>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header3">
        <strong>Madrid, 13 Mar., 18 | Factura T09827763671 Teléfono 696696969</strong>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div>
          <strong>Rubén Fernández Fernández</strong>
        </div>
        <div>
          Calle Divino Vallés, 32 2ºF Madrid
        </div>
        <div>
          CIF / NIF: 11115511P
        </div>
        <br>
        <div>
          F. emisión / F. devengo: <strong>13 Mar. 18</strong>
        </div>
        <div>
          Período de consumo: <strong>7 Feb. - 6 Mar.</strong>
        </div>
        <div>
          para ser pagado a partir del 13 Mar. 18
        </div>
        <div>
          <em>(El pago de su factura se acredita por su abono bancario o el recibi de caja)</em>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>MS-01234567890123456789-00-021021021</p>
        <div>
          <strong>RUBÉN FERNANDEZ FERNANDEZ</strong>
        </div>        
        <div>
          CALLE DIVINO VALLES, 32 2ºF MADRID
        </div>
        <div>
          28045 MADRID
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 greyBackground marginTop">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Total
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4 textRight">
            75,6060
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Base imponible
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            69,4140 IVA (18%)
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 textRight">
            12,4945
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Base imponible
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            6,1920 IVA (18%)
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 textRight">
            0,4954
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 marginTop">
            <strong>TOTAL a pagar (euros)</strong>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textRight marginTop">
            <strong>88,59</strong>
          </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 marginTop">
        <p class="margin">
          <em>Los datos presentados en esta factura se corresponden con
            la aplicación del contrato <strong>Nº:123456789</strong>.
          </em>
        </p>
        <p class="margin">
          <em>
            Si considera que los datos reflejados no se corresponden a la realidad de su
            consumo puede ponerse en contacto con nosotros por nuestros canales de atención al cliente
          </em>
        </p>
      </div>

    </div>

  </mv-card>

</section>
