<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación app scheme</strong></mv-card-title>

    <!-- Índice de la documentación -->
    <div>
      <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Información
      </a>
    </div>
    <div>
      <a class="nostyle" (click)='config.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Configuración
      </a>
    </div>

  </mv-card>

  <!-- Información -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #info><strong>Información</strong></mv-card-title>
      <mv-card-subtitle>Información del scheme.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>El custom scheme se usa para identificar la app en el caso de salir de la misma y luego tener que volver. Por ejemplo al salir a la web de autologin. </p>

    </mv-card-content>
  </mv-card>

  <!-- Configuración -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #config><strong>Configuración</strong></mv-card-title>
      <mv-card-subtitle>Configuración.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>El esquema de la app se configura en el archivo config.xml y deberá ser único para cada app. </p>

      <mv-card class="warning-card">
        <mv-card-header>
          <mv-card-title>
            <strong>Importante</strong>
          </mv-card-title>
        </mv-card-header>

        <mv-card-content>
          <p>El esquema no debe incluir mayúsculas para un correcto funcionamiento.</p>
        </mv-card-content>
      </mv-card>

      <mv-tab-group>
        <mv-tab label="Config.xml">
          <pre><code [highlight]="codeMovaConfigXml"></code></pre>
        </mv-tab>
      </mv-tab-group>

    </mv-card-content>

  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
