<section class="view-default-style">
  <div class="main-container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-wizard"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Formulario con wizard en el lateral</span>
            </div>
          </mv-button>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="margin">
          <mv-button
            link="/layout-wizard-top"
            appearance="raised"
            adapt=true>
            <div class="gradient"></div>
            <div class="title-container">
              <mv-icon>code</mv-icon>
              <span class="title truncate">Formulario con wizard en la cabecera</span>
            </div>
          </mv-button>
        </div>
      </div>

    </div>

  </div>

</section>
