<section class="view-default-style">

    <!-- Componente -->
    <mv-card class="card-code">
        <mv-card-title><strong>Documentación del componente de login y broker</strong></mv-card-title>

        <!-- Índice de la documentación -->
        <div>
            <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Información general
            </a>
        </div>
        <div>
            <a class="nostyle" (click)='configLoginView.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Configuración de la pantalla de login
            </a>
            <div>
            </div>
            <a class="nostyle" (click)='configViews.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Configuración de vistas protegidas
            </a>
            <div>
            </div>
            <a class="nostyle" (click)='biometric.scrollIntoView({behavior: "smooth",block: "start"})'>
                <mv-icon>link</mv-icon> Configuración de acceso con huella o faceId
            </a>
        </div>

        <p>Sistemas de autenticación:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='autologinInfo.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - información general
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='autologinSolicitud.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - solicitud de alta
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='autologinBasic.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - configuración básica
                </a>
            </li>
            <li class="indent">
                <a class="nostyle" (click)='autologinConfigOsb.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - configuración con OSB
                </a>
            </li>
            <li class="indent">
                <a class="nostyle" (click)='autologinConfigWso2.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - configuración con WSO2
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='autologinCert.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Autologin - uso con certificado
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='loginBasic.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Login con usuario y contraseña - configuración básica
                </a>
            </li>
            <li class="indent">
                <a class="nostyle" (click)='dameToken.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Login con usuario y contraseña - configuración con OSB
                </a>
            </li>
            <li class="indent">
                <a class="nostyle" (click)='wso2.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Login con usuario y contraseña - configuración con WSO2
                </a>
            </li>
        </ol>

        <p>Uso de los token y API keys:</p>
        <ol class="ol-code">
            <li>
                <a class="nostyle" (click)='accessCredentials.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Acceso al objeto de credenciales
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='tokenUseOsb.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Uso de los token OSB
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='tokenUseWso2.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Uso de los token WSO2
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='apiKeys.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Uso de API keys
                </a>
            </li>
            <li>
                <a class="nostyle" (click)='apisUse.scrollIntoView({behavior: "smooth",block: "start"})'>
                    <mv-icon>link</mv-icon> Uso de APIs con WSO2
                </a>
            </li>
        </ol>

    </mv-card>

    <!-- Información -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #info><strong>Información</strong></mv-card-title>
            <mv-card-subtitle>Información general del login y broker.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este componente permite autenticar a un usuario en la aplicación.</p>
            <p>Una vez configurado, si se accede a una vista de la app protegida se redirige a la página de login.</p>
            <p>Este componente tiene cuatro sistemas de autenticación distintos, que el usuario debe elegir y configurar:</p>
            <ul>
                <li>"dametoken" - Usuario y contraseña por el OSB</li>
                <li>"wso2" - Usuario y contraseña por el WSO2</li>
                <li>"autologin" - Autologin y token por OSB</li>
                <li>"autologin-wso2" - Autologin y token por WSO2</li>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- Configuración - pantalla -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #configLoginView><strong>Configuración de la pantalla de login</strong></mv-card-title>
            <mv-card-subtitle>Configuración de la pantalla de login y botones.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Antes de configurar el sistema de autenticación que queramos tendremos que configurar la propia pantalla de login y los botones de autenticación que se mostrarán:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentLoginViewTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentLoginViewValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentLoginViewProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li><strong>dametokenSystemEnabled</strong> - Variable para definir si queremos mostrar el botón de usuario y contraseña - osb en la vista login-view.</li>
                <li><strong>dametokenButtonLabel</strong> - Variable para definir el texto del botón de usuario y contraseña - osb en la vista login-view.</li>
                <li><strong>dametokenInfoLabel</strong> - Variable para definir el texto explicativo al elegir el sistema usuario y contraseña - osb en login-view.</li>
                <li><strong>fingerprintAuth</strong> - Variable para definir si queremos acceso biométrico.</li>
                <li><strong>wso2SystemEnabled</strong> - Variable para definir si queremos mostrar el botón de WSO2 en la vista login-view.</li>
                <li><strong>wso2ButtonLabel</strong> - Variable para definir el texto del botón de WSO2 en la vista login-view.</li>
                <li><strong>wso2InfoLabel</strong> - Variable para definir el texto explicativo al elegir el sistema WSO2 en login-view.</li>
                <li><strong>autologinSystemEnabled</strong> - Variable para definir si queremos mostrar el botón de autologin - osb en la vista login-view.</li>
                <li><strong>autologinButtonLabel</strong> - Variable para definir el texto del botón de autologin - osb en la vista login-view.</li>
                <li><strong>autologinInfoLabel</strong> - Variable para definir el texto explicativo al elegir el sistema autologin - osb en login-view.</li>
                <li><strong>autologinWso2SystemEnabled</strong> - Variable para definir si queremos mostrar el botón de autologin - WSO2 en la vista login-view.</li>
                <li><strong>autologinWso2ButtonLabel</strong> - Variable para definir el texto del botón de autologin - WSO2 en la vista login-view.</li>
                <li><strong>autologinWso2InfoLabel</strong> - Variable para definir el texto explicativo al elegir el sistema autologin - WSO2 en login-view.</li>
                <li><strong>autologinWso2InfoLabel</strong> - Variable para definir el texto explicativo al elegir el sistema autologin - WSO2 en login-view.</li>
                <li><strong>titleCheckConditions</strong> - Variable para definir el texto personalizado que aparecerá para aceptar la condiciones legales.</li>
                <li><strong>urlBottomText</strong> - Variable para definir el texto del link de la parte baja de la pantalla de login.</li>
                <li><strong>urlBottomUrl</strong> - Variables para definir la url del link de la parte baja de la pantalla de login. Permite definir una url externa o el nombre de una ruta de la aplicación.</li>
                <li><strong>urlCornerIcon</strong> - Variable para definir el icono de material del link de de la esquina de la pantalla de login.</li>
                <li><strong>urlCornerUrl</strong> - Variable para definir la url del link de la esquina superior izquierda de la pantalla de login. Permite url externa o interna de la app. Sirve para crear una página de ayuda referente al login. Si se deja
                    urlCornerUrl en blanco desaparecerá el icono.</li>
                <li><strong>placeholder</strong></li>
                <ul>
                    <li><strong>user</strong> - Placeholder para el usuario en la pantalla de login</li>
                    <li><strong>password</strong> - Placeholder para la contraseña en la pantalla de login</li>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- Configuración - vistas protegidas -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #configViews><strong>Configuración de vistas seguras</strong></mv-card-title>
            <mv-card-subtitle>Configuración de vistas seguras que requieren autenticación.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Antes de configurar el sistema de autenticación que queramos tendremos también que definir las vistas que queremos proteger con login, de manera que solo se podrá acceder a ellas si estamos logados:</p>

            <mv-tab-group>
                <mv-tab label="app.module.ts">
                    <pre><code [highlight]="codeAppModuleTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

    <!-- huella/faceID -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #biometric><strong>Acceso con huella o faceId</strong></mv-card-title>
            <mv-card-subtitle>Acceso biométrico en login.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Se puede configurar la aplicación para que, en una app (no en una webapp), y con login mediante usuario y contraseña (no autologin) se puedan recordar las credenciales y acceder por faceId o huella si el dispositivo tiene esa funcionalidad.
                Hay que especificarlo en los archivos <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <p>De esta manera nos aparecerá un switch en la pantalla de login que nos permitirá escoger el acceso con huella.</p>
            <p>La primera vez que nos loguemos habrá que introducir las credenciales y activar el switch. Si nos deslogamos y nos volvemos a logar ahora ya podremos hacerlo con huella o faceId dependiendo de las características del dispositivo.</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentBiometricTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentBiometricValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentBiometricProTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

    <!-- autologin - información -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinInfo><strong>Autologin - información</strong></mv-card-title>
            <mv-card-subtitle>Información general del sistema Autologin.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este componente permite realizar la autenticación por medio de Autologin, en vez de login con usuario y contraseña. A su vez, Autologin funciona con los sistemas OSB (dametoken) o WSO2, pudiéndose configurar cualquiera de los dos.</p>

            <p>Una vez configurado este componente si una aplicación accede a una url segura, en vez de redirigir a la página de login hace una redirección al Autologin de la Comunidad de Madrid. </p>

            <p>Una vez en Autologin el usuario tendrá que elegir el IDP con el que quiere identificarse (Certificado, Clave PIN y Clave Permanente con y sin OTP), introducir sus credenciales y si son correctas será redirigido de vuelta a la aplicación. Con
                la identificación conseguida en Autologin, la app solicitará un token (de OSB o de WSO2) con el que estará autenticado.</p>

        </mv-card-content>
    </mv-card>

    <!-- autologin - alta -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinSolicitud><strong>Autologin - solicitud de alta</strong></mv-card-title>
            <mv-card-subtitle>Solicitud de alta del sistema Autologin.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <mv-card class="card-code success-card">
                <mv-card-content>
                    <p>Para solicitar el alta en Autologin hay que hacerlo mediante un Mantis a <strong>"Arquitectura de Aplicaciones / AUTO - BROKER DE IDENTIDADES"</strong> con los siguientes datos:</p>
                    <ul class="margin-li">
                        <li><strong>Módulos técnicos:</strong>&nbsp;Los nombres de cada módulo técnico que va a usar Autologin (solo los que realmente se necesitan). Se considera que son los mismos que los definidos en el componente <a target="_blank " href="#/doc-config-default"><strong>config-default.json</strong></a>                            en las variables:</li>
                        <ul>
                            <li>moduloTecnicoIos</li>
                            <li>moduloTecnicoAndroid</li>
                            <li>moduloTecnicoWebapp</li>
                        </ul>
                        <li><strong>Servicios:</strong>&nbsp;será uno por cada módulo técnico y deberá indicar:</li>
                        <ul>
                            <li>Nombre del servicio. Deberá coincidir con el módulo técnico en mayúsculas</li>
                            <li>Descripción interna del servicio. (Máximo 50 caracteres)</li>
                            <li>Display (Máximo 50 caracteres): texto a mostrar en la pantalla de Autologin para esta aplicación.</li>
                        </ul>
                        <li><strong>Subservicio:</strong>&nbsp; normalmente será "PRIVADO":</li>
                        <ul>
                            <li>Código de subservicio. <strong>(Ejemplo: PRIVADO / PUBLICO / CONSULTA …)</strong></li>
                            <li>Descripción interna del subservicio. (Máximo 50 caracteres)</li>
                            <li>Display (Máximo 50 caracteres): Texto a mostrar en la pantalla de Autologin para este subservicio. Este campo puede estar a nulo.</li>
                            <li>IDP's que se quieren para este servicio/subservicio, que será uno o varios de los siguientes:</li>
                            <ul>
                                <li>Mock (para pruebas)</li>
                                <li>Clave PIN</li>
                                <li>Clave Permanente</li>
                                <li>Intranet</li>
                                <li>Clave Permanente con OTP</li>
                                <li>Certificado Digital</li>
                                <li>Certificado Digital Hardware</li>
                            </ul>
                            <li>Forzar autenticación (SI/NO). Si se indica SI no existe single sign on y siempre se pedirá autenticación</li>
                        </ul>
                    </ul>
                    <p>Si se solicita que <strong>Autologin</strong> marque su variable <strong>Forzar Autenticación</strong> con valor <strong>Si</strong> significará que el single-sign-on queda desactivado y se requerirá acceso explícito al usuario siempre
                        que se acceda de nuevo a la aplicación.</p>
                    <p>Si se solicita que <strong>Autologin</strong> marque su variable <strong>Forzar Autenticación</strong> con valor <strong>No</strong> significará que el single-sign-on queda activado y el usuario podrá acceder a la app directamente
                        sin logarse explícitamente cada vez, es decir, con que se haya logado una vez en ese navegador ya se considera logado. En este caso, será necesario cerrar sesión de forma explícita para anular el efecto del single-sign-on antes
                        de su caducidad.</p>

                    <p>En la respuesta del Mantis se incluirá la siguiente información para cada entorno:</p>
                    <ul class="margin-li">
                        <li><strong>Servicio</strong></li>
                        <li><strong>Subservicio</strong></li>
                        <li><strong>Password</strong></li>
                    </ul>

                    <p>La password para cada módulo técnico se especificará en las siguientes variables de los archivos environment.ts, environment.val.ts y environment.prod.ts:</p>
                    <ul class="margin-li">
                        <li><strong>paramIosPass</strong></li>
                        <li><strong>paramAndroidPass</strong></li>
                        <li><strong>paramWebappPass</strong></li>
                    </ul>

                    <p>La password se pondrá de manera distinta, según el entorno, en cada uno de los archivos:</p>
                    <ul class="margin-li">
                        <li><strong>Desarrollo:</strong> Se pondra tal cual se ha indicado en el mantis (encriptada) en el archivo environment.ts</li>
                        <li><strong>Validación:</strong> La indicarán en el mantis en claro y es necesario cifrarla por Paso a Producción. Para ello, hay que abrir un GPAP a Paso a Producción solicitando que se encripte esa password con la semilla de validación.
                            Una vez nos la devuelvan encriptada, ponerla en el archivo environment.val.ts</li>
                        <li><strong>Producción:</strong> La enviarán en claro por correo al responsable MD y es necesario cifrarla por Paso a Producción. Para ello, hay que abrir un GPAP a Paso a Producción solicitando que se encripte esa password con la
                            semilla de producción. Una vez nos la devuelvan encriptada, ponerla en el archivo environment.prod.ts</li>
                    </ul>
                </mv-card-content>
            </mv-card>

        </mv-card-content>
    </mv-card>

    <!-- autologin - configuración básica -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinBasic><strong>Autologin - configuración básica</strong></mv-card-title>
            <mv-card-subtitle>Configuración básica del sistema Autologin.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este apartado explica cómo realizar la configuración básica (al margen de usar token de OSB o WSO2) de la aplicación para llamar a Autologin. La configuración se realiza mediante las siguientes variables del archivo de configuración <strong><a target="_blank" href="#/doc-config-default">config-default.json</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="config-default.json">
                    <pre><code [highlight]="codeConfigJSON"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li><strong>moduloTecnicoIos</strong> - Es el nombre del módulo técnico registrado en Autologin para iOS.</li>
                <li><strong>moduloTecnicoAndroid</strong> - Es el nombre del módulo técnico registrado en Autologin para Android.</li>
                <li><strong>moduloTecnicoWebApp</strong> - Es el nombre del módulo técnico registrado en Autologin para Webapp.</li>
            </ul>

            <p>El sistema Autologin hay que configurarlo mediante las siguientes variables de los archivos de entorno
                <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li>brokerView:</li>
                <ul>
                    <li><strong>autoRedirect</strong> - Permite activar o desactivar la redirección automática cuando el componente consigue el ticket del Broker de Identidades. Usar solo en entornos de desarrollo.</li>
                </ul>
                <li>authenticationService:</li>
                <ul>
                    <li><strong>authenticationSaveLastLoginSystem</strong> - Permite definir qué sistema de autenticación aparecerá seleccionado en la pantalla de login en caso de poder escoger varios. Si el valor es true aparecerá seleccionado el último
                        escogido. Si el valor es false aparecerá seleccionado el definido en la variable authenticationDefaultSystem.</li>
                    <li><strong>authenticationSaveInSessionWeb</strong> - Permite escoger si, en modo web, queremos que las credenciales se almacenen en sessionStorage en vez de localStorage.</li>
                    <li><strong>authenticationSaveInSessionMobile</strong> - Permite escoger si, en modo móvil, queremos que las credenciales se almacenen en sessionStorage en vez de localStorage.</li>
                    <li>autologinConfig:</li>
                    <ul>
                        <li><strong>appRedirect</strong> - Permite definir un identificador de la app, para que a la vuelta del Autologin cuando estamos en una app móvil haga una redirección mediante un deep-link desde la url de vuelta (que tiene el ticket)
                            a la app.</li>
                        <li><strong>uriBase</strong> - Permite definir la url de login del sistema Autologin.</li>
                        <li><strong>uriLogout</strong> - Permite definir la url de logout del sistema Autologin.</li>
                        <li><strong>paramIosSS</strong> - Permite definir el subservicio de la plataforma iOS, el parámetro ss, de la URL de Autologin.</li>
                        <li><strong>paramIosPass</strong> - Permite definir la contraseña para el servicio de la plataforma iOS, el parámetro pass, con la clave de la app para pasar por la URL de Autologin.</li>
                        <li><strong>paramAndroidSS</strong> - Permite definir el subservicio de la plataforma Android, el parámetro ss, de la URL de Autologin.</li>
                        <li><strong>paramAndroidPass</strong> - Permite definir la contraseña para el servicio de la plataforma Android, el parámetro pass, con la clave de la app para pasar por la URL de Autologin.</li>
                        <li><strong>paramWebappSS</strong> - Permite definir el subservicio de la plataforma Webapp, el parámetro ss, de la URL de Autologin.</li>
                        <li><strong>paramWebappPass</strong> - Permite definir la contraseña para el servicio de la plataforma Webapp, el parámetro pass, con la clave de la app para pasar por la URL de Autologin.</li>
                        <li><strong>paramWebappOkUrl</strong> - Permite definir otra URL para pasar al parámetro ok de Autologin, por defecto debe dejarse en blanco y se utilizará el propio estado del componente.</li>
                        <li><strong>paramWebappOkUrlLogout</strong> - Permite definir otra URL para utilizar a la hora de hacer logout de Autologin, por defecto debe dejarse en blanco y se utilizará el estado actual en el que se encuentre la app a la hora
                            de hacer logout.</li>
                    </ul>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- autologin - configuración OSB -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinConfigOsb><strong>Autologin - configuración con OSB</strong></mv-card-title>
            <mv-card-subtitle>Configuración del sistema Autologin con OSB (dametoken).</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este apartado explica cómo configurar la aplicación para pedir un token de OSB a partir de un ticket de Autologin. La configuración se realiza mediante las siguientes variables de los archivos de entorno
                <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinOsbTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinOsbValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinOsbProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li>authenticationService:</li>
                <ul>
                    <li><strong>authenticationDefaultSystem</strong> - Permite definir el sistema de autenticación. Para usar el sistema Autologin - OSB debe tener el valor 'autologin'.</li>
                    <li>dameTokenConfig:</li>
                    <ul>
                        <li><strong>uriBase</strong> - Permite definir la url del servicio dametoken. No se debe tocar.</li>
                        <li><strong>uriEliminaToken</strong> - Permite definir la url de eliminación de token del servicio dametoken. No se debe tocar.</li>
                        <li><strong>authenticationSystem</strong> - Permite definir con qué tipo de usuario nos autenticamos en el sistema dametoken. No se debe tocar.</li>
                        <li><strong>expirationTime</strong> - Permite definir el tiempo de expiración de los token del sistema dametoken en milisegundos. Por defecto duran una semana.</li>
                        <li><strong>httpHeaderTokenAuthAlways</strong> - En las llamadas http usar siempre la cabecera 'Token-Auth' con el token del módulo técnico de autenticación cuando se está logado mediante token OSB.</li>
                        <li><strong>technicalModules</strong> - Permite definir el array de módulos técnicos contra los que pedir token con dametoken. Como mínimo deberá tener un elemento pero puede tener varios</li>
                        <li><strong>authenticationTechnicalModuleIndex</strong> - Permite definir el índice del módulo técnico de autenticación del array technicalModules, por lo general debe ponerse siempre el primero y usar 0</li>
                    </ul>
                    <li>autologinConfig:</li>
                    <ul>
                        <li>autologinOsb:</li>
                        <ul>
                            <li><strong>uriGetToken</strong> - Permite definir la url de obtención de un token OSB a partir de un ticket de Autologin.</li>
                            <li><strong>uriValidaTicket</strong> - Permite definir la url de validación de un ticket de Autologin.</li>
                        </ul>
                    </ul>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- autologin - configuración WSO2 -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinConfigWso2><strong>Autologin - configuración con WSO2</strong></mv-card-title>
            <mv-card-subtitle>Configuración del sistema Autologin con WSO2.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este apartado explica cómo configurar la aplicación para pedir un token de WSO2 a partir de un ticket de Autologin. La configuración se realiza mediante las siguientes variables de los archivos de entorno
                <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinWso2TS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinWso2ValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentAutologinWso2ProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li>authenticationService:</li>
                <ul>
                    <li><strong>authenticationDefaultSystem</strong> - Permite definir el sistema de autenticación. Para usar el sistema Autologin - WSO2 debe tener el valor 'autologin-wso2'.</li>
                    <li>wso2Config:</li>
                    <ul>
                        <li><strong>uri</strong> - Permite definir la url del servicio WSO2. No se debe tocar.</li>
                        <li><strong>customDomain</strong> - Permite definir el parámetro domain del API Manager.</li>
                        <li><strong>customTenant</strong> - Permite definir el parámetro tenant del API Manager.</li>
                        <li><strong>scopes</strong> - Permite definir un array de 'scopes' para el sistema WSO2. Deben tener la variable active a false.</li>
                    </ul>
                    <li>autologinConfig:</li>
                    <ul>
                        <li>autologinWso2:</li>
                        <ul>
                            <li><strong>consumerKeyAutologin</strong> - Permite definir el consumer key que identifica a nuestra aplicación de cara al sistema autologin - WSO2.</li>
                            <li><strong>consumerSecretAutologin</strong> - Permite definir el consumer secret que identifica a nuestra aplicación de cara al sistema autologin - WSO2.</li>
                            <li><strong>uriGetUserData</strong> - Permite definir la url de obtención de datos del usuario con el sistema autologin - WSO2.</li>
                        </ul>
                    </ul>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- autologin - certificado -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #autologinCert><strong>Autologin - uso de certificado</strong></mv-card-title>
            <mv-card-subtitle>Uso del sistema Autologin con certificado digital.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Si se va a usar el Broker de identidades y este tiene activa la opción de hacer login con certificado digital, hay que configurarlo de la siguiente manera.</p>

            <p>Modificar las variables del app.config:</p>
            <ul class="margin-li">
                <li>loginOpenSystemNavigatorBrokerIdentidades con valor true.</li>
                <li>
                    loginAppSystemNavigatorRedirectBrokerIdentidades con el nombre del paquete de nuestra app. (Todo en minúsculas, sin camelcase para separar palabras)
                </li>
            </ul>

            <p>
                Cuando nos encontramos en una app móvil el Broker (en su comportamiento por defecto) se abre en un navegador embebido en la propia app. Por seguridad, este navegador no puede acceder a los certificados instalados en el dispositivo y si se intenta identificar
                con el certificado fallará.
            </p>
            <p>
                Se puede configurar la app para que el Broker se abra en el navegador del sistema, por ejemplo Chrome, que si puede ver los certificados instalados en el dispositivo.
            </p>
            <p>
                Esta forma tiene el problema principal de que salimos de la app para, por un periodo de tiempo indeterminado, utilizar el navegador del sistema y luego volver a nuestra app, este último paso se hace mediante un deep-link.
            </p>

            <mv-card class="danger-card">
                <mv-card-header>
                    <mv-card-title>
                        <strong>Consecuencias</strong>
                    </mv-card-title>
                </mv-card-header>

                <mv-card-content>
                    <p>Usar el broker con certificado implica las siguientes consecuencias:</p>
                    <ul class="margin-li">
                        <li>
                            Es necesario que todas las navegaciones a URLs externas se hagan con un navegador externo, no usando el embebido. Esto es necesario porque la cookie del Broker de Identidades se crea a nivel de navegador y técnicamente el navegador embebido no es el mismo
                            navegador que Chrome, el navegador del sistema y otro navegador externo.
                        </li>
                        <li>
                            Se considera que se usan dos apps distintas, la app de MOVA y la app del navegador externo. Durante este proceso el sistema operativo puede considerar cerrar la app de MOVA, esto implica que al volver no se consiga recuperar la vista en la que estaba
                            el usuario.
                        </li>
                        <li>
                            Si se navega a un navegador externo, para volver a la app de MOVA no es suficiente con presionar el botón de atrás. Es necesario que el usuario vuelva a la app por sus propios medios. Esto no pasa cuando se autentica en el Broker de Identidades ya que
                            se redirecciona a una URL que nos permite volver a la app mediante un deep-link.
                        </li>
                        <li>
                            Otro problema es que el usuario puede usar el navegador externo que prefiera. La cookie del Broker de identidades solo permanece en el navegador elegido al hacer login. Si se usa un navegador externo para logarse y otro navegador externo diferente para
                            acceder a una URL desde la app la cookie no tendrá efecto.
                        </li>
                        <li>
                            La funcionalidad del deep-link depende del plugin cordova-plugin-customurlscheme que debe ser configurado correctamente. Puede encontrar más información en la documentación en
                            <a target="_blank" href="#/doc-deeplinks"><strong>doc-deeplinks</strong></a>
                        </li>
                    </ul>
                </mv-card-content>
            </mv-card>

        </mv-card-content>
    </mv-card>

    <!-- autologin - configuración básica -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #loginBasic><strong>Login con usuario y contraseña - configuración básica</strong></mv-card-title>
            <mv-card-subtitle>Configuración básica del login con usuario y contraseña.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este apartado explica cómo realizar la configuración básica (al margen de usar token de OSB o WSO2) de la aplicación para realizar el login mediante un usuario y una contraseña. La configuración se realiza mediante las siguientes variables
                de los archivos de entorno
                <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentLoginTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentLoginValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentLoginProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li>authenticationService:</li>
                <ul>
                    <li><strong>authenticationSaveLastLoginSystem</strong> - Permite definir qué sistema de autenticación aparecerá seleccionado en la pantalla de login en caso de poder escoger varios. Si el valor es true aparecerá seleccionado el último
                        escogido. Si el valor es false aparecerá seleccionado el definido en la variable authenticationDefaultSystem.</li>
                    <li><strong>authenticationSaveInSessionWeb</strong> - Permite escoger si, en modo web, queremos que las credenciales se almacenen en sessionStorage en vez de localStorage.</li>
                    <li><strong>authenticationSaveInSessionMobile</strong> - Permite escoger si, en modo móvil, queremos que las credenciales se almacenen en sessionStorage en vez de localStorage.</li>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- dametoken -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #dameToken><strong>OSB - usuario y contraseña</strong></mv-card-title>
            <mv-card-subtitle>Configuración de login con OSB (dametoken) con usuario y contraseña.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Este apartado explica cómo configurar la aplicación para pedir un token de OSB mediante usuario y contraseña. La configuración se realiza mediante las siguientes variables de los archivos de entorno <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentOsbTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentOsbValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentOsbProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li><strong>authenticationDefaultSystem</strong> - Permite definir el sistema de autenticación. Para usar el sistema dametoken debe tener el valor 'dameToken'.</li>
                <li>dameTokenConfig:</li>
                <ul>
                    <li><strong>uriBase</strong> - Permite definir la url del servicio dametoken. No se debe tocar.</li>
                    <li><strong>uriEliminaToken</strong> - Permite definir la url de eliminación de token del servicio dametoken. No se debe tocar.</li>
                    <li><strong>authenticationSystem</strong> - Permite definir con qué tipo de usuario nos autenticamos en el sistema dametoken. No se debe tocar.</li>
                    <li><strong>expirationTime</strong> - Permite definir el tiempo de expiración de los token del sistema dametoken en milisegundos. Por defecto duran una semana.</li>
                    <li><strong>httpHeaderTokenAuthAlways</strong> - En las llamadas http usar siempre la cabecera 'Token-Auth' con el token del módulo técnico de autenticación cuando se está logado mediante token OSB.</li>
                    <li><strong>technicalModules</strong> - Permite definir el array de módulos técnicos contra los que pedir token con dametoken. Como mínimo deberá tener un elemento pero puede tener varios</li>
                    <li><strong>authenticationTechnicalModuleIndex</strong> - Permite definir el índice del módulo técnico de autenticación del array technicalModules, por lo general debe ponerse siempre el primero y usar 0</li>
                </ul>
            </ul>

        </mv-card-content>
    </mv-card>

    <!-- wso2 -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #wso2><strong>WSO2 - usuario y contraseña</strong></mv-card-title>
            <mv-card-subtitle>Configuración de login con WSO2 con usuario y contraseña.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>
            <p>Este apartado explica cómo configurar la aplicación para pedir un token de WSO2 mediante usuario y contraseña. La configuración se realiza mediante las siguientes variables de los archivos de entorno <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>

            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentWso2TS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentWso2ValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentWso2ProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li><strong>authenticationDefaultSystem</strong> - Permite definir el sistema de autenticación. Para usar el sistema WSO2 debe tener el valor 'wso2'.</li>
                <li>wso2Config:</li>
                <ul>
                    <li><strong>uri</strong> - Permite definir la url del servicio WSO2. No se debe tocar.</li>
                    <li><strong>consumerKey</strong> - Permite definir la clave pública del sistema WSO2 para nuestra app.</li>
                    <li><strong>consumerSecret</strong> - Permite definir la clave secreta del sistema WSO2 para nuestra app.</li>
                    <li><strong>customDomain</strong> - Permite definir el parámetro domain del API Manager.</li>
                    <li><strong>customTenant</strong> - Permite definir el parámetro tenant del API Manager.</li>
                    <li><strong>scopes</strong> - Permite definir un array de 'scopes' para el sistema WSO2. Deben tener la variable active a false.</li>
                </ul>
            </ul>

            <p><strong>customDomain</strong></p>

            <p>La variable customDomain es opcional y, en caso de tener valor, el sistema hará login con la forma &#60;customDomain>/userName. Esta variable es compatible con la variable customTenant.</p>

            <p><strong>customTenant</strong></p>

            <p>La variable customTenant es opcional y, en caso de tener valor, el sistema hará login con la forma userName@&#60;customTenant>. Esta variable es compatible con la variable customDomain.</p>

            <p><strong>Scopes</strong></p>

            <p>El funcionamiento de los scopes es el siguiente: especificamos en la variable "scopes" los scopes que queremos que nuestra app mande en la petición de login. Al hacer la petición de login, se mandarán esos scopes junto con el usuario y la
                contraseña. </p>
            <p>Como respuesta a la petición de login, el sistema devolverá para cuál de esos scopes el usuario está autenticado, pudiéndose comprobar en la misma variable "scopes" (para los que estemos autenticados tendrán la variable active a "true" y para
                los que no estarán a "false").</p>

            <p>De esta manera, podemos mostrar u ocultar secciones o funcionalidades de la app según el scope que tenga el usuario en cada momento.</p>

        </mv-card-content>
    </mv-card>

    <!-- accessCredentials -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #accessCredentials><strong>Acceso a credenciales</strong></mv-card-title>
            <mv-card-subtitle>Acceso al objeto de credenciales.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Después de haber realizado el login, podemos acceder al array de credenciales que se encuentra en la memoria local por si queremos mostrar algún dato del usuario o usar el token de autorización:</p>

            <mv-tab-group>
                <mv-tab label="HTML">
                    <pre><code [highlight]="getCredentialsHTML"></code></pre>
                </mv-tab>
                <mv-tab label="TS">
                    <pre><code [highlight]="getCredentialsTS"></code></pre>
                </mv-tab>
                <mv-tab label="globalCredentials OSB">
                    <pre><code [highlight]="credentialsDameTokenJSON"></code></pre>
                </mv-tab>
                <mv-tab label="globalCredentials WSO2">
                    <pre><code [highlight]="credentialsWso2JSON"></code></pre>
                </mv-tab>
                <mv-tab label="globalCredentials Autologin OSB">
                    <pre><code [highlight]="credentialsAutologinOsbJSON"></code></pre>
                </mv-tab>
                <mv-tab label="globalCredentials Autologin WSO2">
                    <pre><code [highlight]="credentialsAutologinWso2JSON"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p><strong>Objeto con las credenciales de memoria local:</strong></p>
            <pre *ngIf="globalCredentials"> {{ globalCredentials | json }} </pre>
            <p *ngIf="!globalCredentials">Debes estar logado para ver el objeto con las credenciales</p>

        </mv-card-content>
    </mv-card>

    <!-- uso de token osb -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #tokenUseOsb><strong>Uso de los token OSB</strong></mv-card-title>
            <mv-card-subtitle>Uso de tokens OSB (dametoken) en llamadas http.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p><strong>Inlcuir el token en peticiones http</strong></p>
            <p>Si queremos que para todas las peticiones http se incluya el token del módulo técnico para el que estamos logados se hace mediante la variable httpHeaderTokenAuthAlways de los archivos <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>
            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentTokenAuthTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentTokenAuthValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentTokenAuthProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>
            <ul class="margin-li">
                <li>interceptorService:</li>
                <ul>
                    <li><strong>httpHeaderTokenAuthAlways</strong> - En las llamadas http usar siempre la cabecera 'Token-Auth' con el token del módulo técnico de autenticación cuando se está logado mediante token OSB.</li>
                </ul>
            </ul>

            <p><strong>Inlcuir el token de un módulo técnico no habitual en peticiones http</strong></p>
            <p>Si queremos que alguna llamada http incluya un token de un módulo técnico para el cual estamos logados que sea distinto del habitual se debe configurar de manera específica:
            </p>

            <mv-tab-group>
                <mv-tab label="TS">
                    <pre><code [highlight]="httpDameTokenTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

    <!-- uso de token wso2 -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #tokenUseWso2><strong>Uso de los token WSO2</strong></mv-card-title>
            <mv-card-subtitle>Uso de token WSO2 en llamadas http.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p><strong>Inlcuir el token en peticiones http</strong></p>
            <p>Si queremos que una llamada http use los token de acceso y refresco de WSO2 debemos especificarlo de manera explícita en el servicio que haga la llamada http. Si no lo hacemos, dicha llamada http no incluirá las cabeceras propias de WSO2:
            </p>

            <mv-tab-group>
                <mv-tab label="TS">
                    <pre><code [highlight]="httpWso2TS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

    <!-- apikeys -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #apiKeys><strong>Uso de apiKeys</strong></mv-card-title>
            <mv-card-subtitle>Uso de apiKeys en llamadas http.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Para definir los apiKeys que queramos usar en nuestra app debemos hacerlo en <strong><a target="_blank" href="#/doc-environment">environment.ts, environment.val.ts y environment.prod.ts</a></strong>:</p>

            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentApiKeysTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentApiKeysValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentApiKeysProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

            <p>Aparte, debemos especificar de manera explícita en cada petición http el nombre del apiKey que queremos usar:</p>

            <mv-tab-group>
                <mv-tab label="TS">
                    <pre><code [highlight]="httpApiKeyTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

    <!-- uso de apis -->
    <mv-card class="card-code">

        <mv-card-header>
            <div mv-card-avatar>
                <mv-icon>code</mv-icon>
            </div>
            <mv-card-title #apisUse><strong>Uso de APIs WSO2</strong></mv-card-title>
            <mv-card-subtitle>Uso de APIs con token de WSO2.</mv-card-subtitle>
        </mv-card-header>

        <mv-card-content>

            <p>Lo habitual es que las APIs WSO2 estén desplegadas en el tenant raíz. Si la aplicación tiene login por Autologin con WSO2 las APIs también se publicarán en el tenant de ciudadanos, por lo que para pedir el token de WSO2 se necesitarán otro
                consumerKey y consumerSecret diferentes.</p>
            <p>En consecuencia, en nuestra app debemos definir las urls correspondientes al dominio del tenant raíz y/o del tenant ciudadanos que use nuestra API, y cuando se haga una petición al API se tendrá que tener en cuenta el modo de autenticación
                usado para cambiar la url del tenant raíz o el tenant de ciudadanos.</p>
            <p>A continuación, se muestra un ejemplo de gestión de las urls para una app que pueda obtener el token de WSO2 indistintamente con usuario y contraseña o Autologin. </p>

            <mv-tab-group>
                <mv-tab label="environment.ts">
                    <pre><code [highlight]="codeEnvironmentApiUseWso2TS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.val.ts">
                    <pre><code [highlight]="codeEnvironmentApiUseWso2ValTS"></code></pre>
                </mv-tab>
                <mv-tab label="environment.prod.ts">
                    <pre><code [highlight]="codeEnvironmentApiUseWso2ProdTS"></code></pre>
                </mv-tab>
                <mv-tab label="example.service.ts">
                    <pre><code [highlight]="codeServiceApiUseWso2ProdTS"></code></pre>
                </mv-tab>
            </mv-tab-group>

        </mv-card-content>
    </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>