<section class="view-default-style">
  <div class="main-section">
    <div class="row">

      <div class="col-sm-12">
        <mv-button
          link="/inicio"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>home</mv-icon>
         <span class="buttonTitle truncate">Pantalla de inicio</span>
        </mv-button>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout"
          color="accent"
          appearance="raised"
          adapt=true>
         <mv-icon>format_paint</mv-icon>
         <span class="buttonTitle truncate">Ejemplos de maquetación</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/documentation"
          color="accent"
          appearance="raised"
          adapt=true>
         <mv-icon>account_balance</mv-icon>
         <span class="buttonTitle truncate">Documentación componentes MOVA</span>
        </mv-button>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/student-info"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>list</mv-icon>
         <span class="buttonTitle truncate">Listado de alumnos</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/rate-view"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>star</mv-icon>
         <span class="buttonTitle truncate">Valoración</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/notification-config-view"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>settings_applications</mv-icon>
         <span class="buttonTitle truncate">Conf. Notificaciones</span>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/forms-menu"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>account_box</mv-icon>
         <span class="buttonTitle truncate">Formularios</span>
        </mv-button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/documentation-apigis"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>map</mv-icon>
         <span class="buttonTitle truncate">Mapas GIS</span>
        </mv-button>
      </div>

     <!--  <div class="col-sm-6 col-md-4 col-lg-4">
        <mv-button
          link="/layout-map-vgcm"
          class="corporative"
          appearance="raised"
          adapt=true>
         <mv-icon>map</mv-icon>
         <span class="buttonTitle truncate">Mapa</span>
        </mv-button>
      </div> -->

    </div>

  </div>

</section>
