.example-card{
  max-width: calc(100% - 40px);
}
.mat-card-image{
  height: 14rem;
  object-fit: cover;
}
.title1{
  font-size: 1.4rem;
}
.title2{
  font-weight: bold;
}
.title3{
  margin: 1rem 1rem 0 1rem;
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);
  div{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
