@import '~@mova/components/_variables.scss';

.card-code{
  margin-right: auto;
  margin-left: auto;
  max-width: $container-max-width-medium;
}
.colour{
  color: rgba(21, 92, 178, 0.8);
  background-color: rgba(208, 1, 3, 0.2);
  text-align: center;
}
.example-card{
  background-color: #f2f4f5;
  mv-card-content{
    min-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    a{
      font-size: 0.85rem;
      white-space: nowrap;
    }
  }
  mv-card-actions{
    mv-button{
      margin: 0 0.5rem 0 0;
    }
  }
  .mat-card-image{
    height: 14rem;
    object-fit: cover;
  }
}
.app-responsive{
  -webkit-border-top-left-radius: .45rem;
  -webkit-border-top-right-radius: .45rem;
  -webkit-border-bottom-right-radius: .45rem;
  -webkit-border-bottom-left-radius: .45rem;
  -moz-border-radius-topleft: .45rem;
  -moz-border-radius-topright: .45rem;
  -moz-border-radius-bottomright: .45rem;
  -moz-border-radius-bottomleft: .45rem;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
  border-bottom-right-radius: .45rem;
  border-bottom-left-radius: .45rem;
  width: 3rem;
  font-size: 2.25rem;
  color: #30312a;
  padding: 0.55rem;
  border: solid medium #30312a;
  text-align: center;
  margin: 0 auto 1rem auto;
}
.mobile{
  margin: auto;
  max-width: 50%;
  padding: 1rem;
  border: 1px solid #000000;
  background-color: #eff8ffd4;
  -webkit-border-top-left-radius: .45rem;
  -webkit-border-top-right-radius: .45rem;
  -webkit-border-bottom-right-radius: .45rem;
  -webkit-border-bottom-left-radius: .45rem;
  -moz-border-radius-topleft: .45rem;
  -moz-border-radius-topright: .45rem;
  -moz-border-radius-bottomright: .45rem;
  -moz-border-radius-bottomleft: .45rem;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
  border-bottom-right-radius: .45rem;
  border-bottom-left-radius: .45rem;
}
.color1{
  background-color: #accccf;
}
.color2{
  background-color: #c2accf;
}
.color3{
  background-color: #cfacac;
}
.color4{
  background-color: #cdcfac;
}
.color5{
  background-color: #accfc7;
}
#appMaquetacionResponsiveEjemploMediaQueries{
  .ejemploEsquemaResponsiveXs {
    padding: 1rem;
    background-color: #d8d8fd;
  }
  .ejemploEsquemaResponsiveSm {
    padding: 1rem;
    background-color: #d5fdd5;
  }
  .ejemploEsquemaResponsiveMd {
    padding: 1rem;
    background-color: #f9f9d3;
  }
  .ejemploEsquemaResponsiveLg {
    padding: 1rem;
    background-color: #ffd9d9;
  }
}

// xs
@media only screen and (max-width: $media-col-xs-max) {
  .app-maquetacion-responsive-ejemplo-media-querie-button-002 {
		display: none;
	}
	.app-maquetacion-responsive-ejemplo-media-querie-button-003 {
		display: none;
	}
  .ejemploEsquemaResponsiveXs {
    display: block;
  }
  .ejemploEsquemaResponsiveSm {
    display: none;
  }
  .ejemploEsquemaResponsiveMd {
    display: none;
  }
  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

// sm
@media only screen and (min-width : $media-col-sm-min) and (max-width : $media-col-sm-max) {
  .app-maquetacion-responsive-ejemplo-media-querie-button-001 {
		display: none;
	}
	.app-maquetacion-responsive-ejemplo-media-querie-button-003 {
		display: none;
	}
  .ejemploEsquemaResponsiveXs {
    display: none;
  }
  .ejemploEsquemaResponsiveSm {
    display: block;
  }
  .ejemploEsquemaResponsiveMd {
    display: none;
  }
  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

// md
@media only screen and (min-width : $media-col-md-min) and (max-width : $media-col-md-max) {
	.app-maquetacion-responsive-ejemplo-media-querie-button-001 {
		display: none;
	}
	.app-maquetacion-responsive-ejemplo-media-querie-button-002 {
		display: none;
	}
  .ejemploEsquemaResponsiveXs {
    display: none;
  }
  .ejemploEsquemaResponsiveSm {
    display: none;
  }
  .ejemploEsquemaResponsiveMd {
    display: block;
  }
  .ejemploEsquemaResponsiveLg {
    display: none;
  }
}

// lg
@media only screen and (min-width : $media-col-lg-min) {
  .app-maquetacion-responsive-ejemplo-media-querie-button-001 {
    display: none;
  }
  .app-maquetacion-responsive-ejemplo-media-querie-button-002 {
    display: none;
  }
  .ejemploEsquemaResponsiveXs {
    display: none;
  }
  .ejemploEsquemaResponsiveSm {
    display: none;
  }
  .ejemploEsquemaResponsiveMd {
    display: none;
  }
  .ejemploEsquemaResponsiveLg {
    display: block;
  }
}
