<section class="view-default-style">
  <div class="main-container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-madrid-portal"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Portal de la Comunidad de Madrid</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-madrid-invest"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Invertir en la Comunidad de Madrid</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-menus-example1"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de menú (I)</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-menus-example2"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de menú (II)</span>
          </div>
        </mv-button>
      </div>

    </div>
  </div>
</section>
