<mv-card class="header-1">
  <div>
    <strong>Mi Carpeta de Salud</strong>
  </div>
</mv-card>

<mv-card class="header-2">
  <div>
    Viernes 31 de Marzo de 2020
  </div>
</mv-card>

<mv-card id="health-card">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="cardTitle">
        <mv-icon>person</mv-icon>
        <strong>Rick Sánchez Fernández</strong>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <mv-button
        adapt=true
        id="logoutButton"
        color="warn">
        <div>
          Cerrar sesión
        </div>
      </mv-button>
    </div>
  </div>

  <div class="row backgroundGrey">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-info-clinica.png"
            alt="Documento salud">
          <div>
            Mi información clínica
          </div>
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-indicadores.png"
            alt="Botiquín">
          <div>
            Mis datos de salud
          </div>
        </div>
        <mv-icon>lock</mv-icon>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bigButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-calendario.png"
            alt="Calendario">
          <div>
            Mi calendario de citas
          </div>
        </div>
        <mv-icon>lock_open</mv-icon>
      </mv-button>
    </div>
  </div>

  <div class="row backgroundGrey margin message">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <mv-card class="info-card">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <span>Gestión de mis datos administrativos de la carpeta de salud</span>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <mv-icon>keyboard_arrow_right</mv-icon>
          </div>
        </div>
      </mv-card>
    </div>
  </div>

  <div class="row backgroundGrey">

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-episodios.png"
            alt="Informe">
          Datos clínicos
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            class="" 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-cuidados-enfermeria.png"
            alt="Manos entrelazadas">
            Cuidados de enfermería
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-hoja-medicacion.png"
            alt="Receta">
            Medicación
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon_reaccionesAdversas.png"
            alt="Medicamentos">
            Alergias y reacciones
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-vacunas.png"
            alt="Jeringuilla">
          Vacunas
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          <img 
            src="assets/examples/app-maquetacion-carpeta-salud-icon-incapacidad-temporal.png"
            alt="Informe de baja">
            Incapacidad laboral
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncate">
      <mv-button
        adapt=true>
        <div class="truncate">
          
          <img 
          src="assets/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
          alt="Documento de instrucciones">
          Instrucciones previas
        </div>
      </mv-button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 smallButton truncateColor">
      <mv-button
        adapt=true
        color="secondary-001">
        <div class="truncate">
          
          <img 
          src="assets/examples/app-maquetacion-carpeta-salud-icon-instrucciones-previas.png"
          alt="Documento de instrucciones">
          Otras opciones
        </div>
      </mv-button>
    </div>
  </div>

</mv-card>
