<section class="view-default-style">

  <!-- Layer -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación sobre Catastro</strong></mv-card-title>
    <p>Cuando se genera un objeto de tipo apigis.Layer, puede heredar la clase Catastro tal y como se explica en la
      <a routerLink="/doc-apigis-servers" routerLinkActive="active" ariaCurrentWhenActive="page"><strong> Herencia de Servidores</strong></a>.
      Esta clase permite heredarar dinámicamente el métodos de localización de coordenadas dentro de los servicios que ofrece Catastro.
    </p>
    <p>Para más información sobre dicho servicio, se puede consultar el siguiente <a href="https://ovc.catastro.meh.es/ovcservweb/OVCSWLocalizacionRC/OVCCoordenadas.asmx/Consulta_RCCOOR?" target="_blank">enlace</a>.</p>
  </mv-card>


</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
