# Este fichero se genera para configurar Lombok
# Su modificación o eliminación no afecta a la funcionalidad, pero sí a la cobertura de tests
# reduciéndose si este fichero se elimina

# Esta propiedad indica a Lombok que este es el directorio base del que tiene que comprobar las anotaciones
# e impide que busque otros directorios
config.stopBubbling = true

# Esto incluye, al código generado por Lombok, la anotación @lombok.Generated
# Permite que la cobertura de código calculada por Jacoco, que soporta
# la integración con Lombok, no tenga en cuenta el código generado por este,
# evitando tener que incluir casos de test específicos para getters, setters, equals, etc... que no tienen lógica propia
lombok.addLombokGeneratedAnnotation = true