<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación de apigis.Filters</strong></mv-card-title>

    <p>El API GIS permite generar filtros mediante la clase apigis.Filters. Los filtros permiten limitar la visibilidad
      de las entidades de una capa.
    </p>
    <p>En esta página se muestra la forma en la que podemos construír un filtro y los métodos disponibles para trabajar con filtros.
    </p>
    <ol class="ol-code">
      <li><a class="nostyle" (click)='constructor.scrollIntoView({behavior: "smooth",block: "start"})'>
          <mv-icon>link</mv-icon> Generación de un filtro (apigis.Filters)
        </a></li>
      <li><a class="nostyle" (click)='metodos.scrollIntoView({behavior: "smooth",block: "start"})'>
          <mv-icon>link</mv-icon> Métodos
        </a></li>
    </ol>
  </mv-card>

  <!-- MAp -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #constructor><strong>Generación de un filtro con apigis.Filter</strong></mv-card-title>
    </mv-card-header>

    <mv-card-content>
      <p>Se puede instanciar un nuevo filtro mediante la clase <strong>apigis.Filter</strong>. Para poder visualizar la acción de un filtro, deberá
        aplicarse a un objeto del tipo  <a routerLink="/doc-apigis-layers" routerLinkActive="active"
          ariaCurrentWhenActive="page">apigis.Layer</a>.
      </p>
      <p><em>new ApiFilters(jsonObject)</em></p>
      <ul>
        <li><strong>jsonObject</strong> &#60;<i>object</i> &#62; Objeto json de un filtro predefinido. Puede
          contener las siguientes propiedades:</li>
        <ul>
          <li><strong>expression</strong> &#60;<i>object</i> &#62; Objeto que indica el comienzo de un expresión. Una expresión puede ser simple (contiene dentro values) o compuesta (contiene dentro block). En ningún caso debe contener ambas claves (values o block):</li>
          <ul>
            <li><strong>values</strong> &#60;<i>object</i> &#62;Objeto con los valores de una expresión simple. Debe contener las siguientes propiedades:</li>
            <ul>
              <li><strong>operand1</strong> &#60;<i>string</i> &#62; Primer operando de la expresión. Debe coincidir con el nombre de un campo de la capa. </li>
              <li><strong>operand2</strong> &#60;<i>string | number | string[] | number[]</i> &#62; Segundo operando de la expresión. Valor a comparar con el primer operando. Para las operaciones 'IN' y 'NIN' será de tipo Array. </li>
              <li><strong>operator</strong> &#60;<i>'EQUAL' | 'NEQUAL' | 'GT' | 'GTE' | 'LT' | 'LTE' | 'CONTAINS' | 'IN' | 'NIN'</i> &#62; Operación o condición de filtrado.</li>
            </ul>
            <li><strong>block</strong> &#60;<i>string</i> &#62; Conjunto de expresiones (simples o compuestas) a ejecutar de forma secuencial o en bloque. Se puede generar a partir de otro filtro (filter.toJson()).</li>
            <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; En caso de que sea una expresión hija o anidada dentro de otra, deberá indicarse un conector.</li>
          </ul>
        </ul>
      </ul>
      <br>
      <p>Se puede consultar información más detallada y ejemplos sobre el uso de apigis.Filter en el documento de Arquitectura sobre el API GIS.</p>
    </mv-card-content>
  </mv-card>

  <!-- Métodos -->
  <mv-card class="card-code">
    <mv-card-header>
      <div mv-card-avatar>
        <mv-icon>code</mv-icon>
      </div>
      <mv-card-title #metodos><strong>Métodos</strong></mv-card-title>
      <mv-card-subtitle>Métodos disponibles en un filtro.
      </mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>
      <p>
      </p>
      <p>Se muestran a continuación los métodos disponibles para trabajar con un objeto de tipo apigis.Filters:</p>

      <p><em><strong>getExpressionKey()</strong></em></p>
      <p>Recupera la clave que indica el inicio de una expresión.</p>
      <br>
      <p><em><strong>addEqualExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'IGUAL A' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addNotEqualExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'DISTINTO A' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addGreatherThanExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'MAYOR QUE' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <br>
      <p><em><strong>addGreatherThanOrEqualExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'MAYOR O IGUAL QUE' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addLessThanExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'MENOR QUE' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addLessThanOrEqualExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'MENOR O IGUAL QUE' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addContainsExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'CONTIENE' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addBBOXExpression(operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'BBOX' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand2</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addIntersectsExpresion(operand1, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'INTERSECTS' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>object</i> &#62; Geojson con la&#47;s geometrías de intersección.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addDisjointExpresion(operand1, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'DISJOINT' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>object</i> &#62; Geojson con la&#47;s geometrías de intersección.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addInExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'IN' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addNotInExpresion(operand1, operand2, connector = 'AND')</strong></em></p>
      <p>Añade una expresión 'NOT IN' al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>operand1</strong> &#60;<i>string</i> &#62; Nombre del campo a filtrar.</li>
        <li><strong>operand2</strong> &#60;<i>string | number </i> &#62; Valor a evaluar en el filtrado.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>addBlock(filter, connector = 'AND')</strong></em></p>
      <p>Añade otro filtro como una expresión compuesta o bloque al final del filtro. Sus argumentos son: </p>
      <ul>
        <li><strong>filter</strong> &#60;<i>apigis.Filters</i> &#62; Objeto filter.</li>
        <li><strong>connector = 'AND'</strong> &#60;<i>'AND' | 'OR'</i> &#62; Conector para el concatenado de la expresión.</li>
      </ul>
      <br>
      <p><em><strong>toJson()</strong></em></p>
      <p>Recupera una copia del json del objeto Filter.</p>
      <br>
    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
