.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

mv-button {
  margin: 0 10px;
}