<section class="view-default-style">
  <div class="main-container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-health-example"
          class="salud-img"
          appearance="raised"
          adapt=true>
          <div class="gradient blue"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Carpeta salud</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-health-example2"
          class="salud-img"
          appearance="raised"
          adapt=true>
          <div class="gradient green"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Carpeta salud con estilos propios</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-menus"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de menús</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-responsive"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo responsive</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-static-data"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de presentación de datos</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-real-state-portal"
          class="portal-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo portal inmobiliario</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-wizard-menu"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de formulario</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-table-responsive"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de tablas</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-footer-mv-menu"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de menú en el pie</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-tabs"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de solapas</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-list-detail"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de lista con detalle</span>
          </div>
        </mv-button>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <mv-button
          link="/layout-map-vgcm"
          class="code-img"
          appearance="raised"
          adapt=true>
          <div class="gradient"></div>
          <div class="title-container">
            <mv-icon>code</mv-icon>
            <span class="title truncate">Ejemplo de mapas GIS - VGCM</span>
          </div>
        </mv-button>
      </div>

    </div>
  </div>
</section>
