<section class="view-default-style">

  <!-- Componente -->
  <mv-card class="card-code">
    <mv-card-title><strong>Documentación cordova-plugin-x-socialsharing</strong></mv-card-title>

    <!-- Índice de la documentación -->
    <div>
      <a class="nostyle" (click)='info.scrollIntoView({behavior: "smooth",block: "start"})'>
        <mv-icon>link</mv-icon> Información
      </a>
    </div>

  </mv-card>

  <!-- Información -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #info><strong>Información</strong></mv-card-title>
      <mv-card-subtitle>Información y ejemplo de uso.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <p>Este plugin sirve para compartir información en los canales habituales: Twitter, Facebook, Outlook... </p>
      <p>La documentación completa está en
        <strong>
          <a rel="noopener noreferrer" target="_blank" href="https://www.npmjs.com/package/cordova-plugin-x-socialsharing">https://www.npmjs.com/package/cordova-plugin-x-socialsharing</a>
        </strong>
      </p>
      <p>En navegador, si lo soporta, se usara <strong>navigator.share</strong></p>
      <strong>
        <a rel="noopener noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share">https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share</a>
      </strong>

    </mv-card-content>
  </mv-card>

  <!-- Ejemplo de uso -->
  <mv-card class="card-code">

    <mv-card-header>
      <div mv-card-avatar><mv-icon>code</mv-icon></div>
      <mv-card-title #useExample><strong>Ejemplo de uso</strong></mv-card-title>
      <mv-card-subtitle>Ejemplo de uso.</mv-card-subtitle>
    </mv-card-header>

    <mv-card-content>

      <mv-tab-group>
        <mv-tab label="HTML">
          <pre><code [highlight]="codeUseExampleHTML"></code></pre>
        </mv-tab>
        <mv-tab label="TS">
          <pre><code [highlight]="codeUseExampleTS"></code></pre>
        </mv-tab>
      </mv-tab-group>

      <p>A continuación se muestra un ejemplo de uso (sólo funcionará en móvil y en algunos navegadores):</p>

      <mv-button
        color="primary"
        appearance="raised"
        (clickEvent)="pluginExample()">
        Lanzar ejemplo
      </mv-button>

    </mv-card-content>
  </mv-card>

</section>

<mv-button-scroll-to-top>
</mv-button-scroll-to-top>
