@import '~@mova/components/_variables.scss';

a{
  word-break: break-word;
}
.card-code{
  margin-right: auto;
  margin-left: auto;
  max-width: $container-max-width-medium;
}
.response{
    word-wrap: break-word;
}
#web-push-img1{
  text-align: center;
  img{
    max-height: 20rem;
  }
}
#web-push-img2{
  text-align: center;
  img{
    max-height: 20rem;
  }
}
#web-push-img3{
  text-align: center;
  img{
    max-height: 4rem;
  }
}
#web-push-img4{
  text-align: center;
  img{
    max-height: 45rem;
  }
}
